@mixin icon-modal($color) {
    margin-top: 30px;
    font-size: 100px;
    color: $color;
    justify-content: space-around;
}


@mixin modal-header($background) {
    background-color: $background;
    color: $branco-padrao;
    font-weight: bold;
}


@mixin card($padding, $background, $border) {
    padding: $padding;
    border-radius: 10px;
    border: $border;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(109, 76, 76, 0.06);
    background-color: $background;
}


@mixin side-bar($width) {
    background: $preto-claro;
    transition: 0.7s;
    position: fixed;
    height: 100%;
    width: $width;
}


@mixin side-bar-li($padding, $text-align, $padding-left, $background, $background-hover, $border-left) {
    padding: $padding;
    text-align: $text-align;
    padding-left: $padding-left;
    transition: background-color .8s;
    background-size: 0% 100%;

    background-color: $background;

    &:hover {
        background-color: $background-hover;
        border-left: $border-left;
    }
}


@mixin side-bar-a($font-size, $color, $padding-bottom) {
    font-size: $font-size;
    font-weight: bold;
    color: $color;
    text-decoration: none;
    padding-bottom: $padding-bottom;
}


@mixin side-bar-logo($width, $padding-left, $margin) {
    width: $width;
    padding-left: $padding-left;
    margin: $margin;

    img {
        width: 100%;
    }
}

@mixin linha-conexao($width) {
    height: 2px;
    background: $cinza-claro;
    margin: auto;
    position: absolute;
    width: $width;
    left: 0;
    right: 0;
    top: 15%;
    z-index: 1;
}

@mixin model-content($background) {

    .modal-content {
        border: none;
        background-color: $background;
    }

}

@mixin aria-expanded($background,$color) {

        background-color: $background;
        color: $color;

        a {
            color: $color;
            font-weight: bold;
        }

}

@mixin list-group($border-radius,$border){
    border-radius: $border-radius;
    border: $border;
    cursor: pointer;
}