// Variáveis Sass

// Global

$background-padrao: #F4F6F6;
$font-color-padrao: #1e2749;

// Painel-left

$painel-left-background:#30343f;
$painel-left-color: #F4F6F6;
$painel-left-li-hover: #273469;

// Home

$icon-card-color: white;
$box-icon-color: blue;

// Outros

$card-padrao: white;
$navbar-top-background:white;

