// Variáveis Sass

// Global

$background-padrao: #fafaff;
$font-color-padrao: #30343f;

// Painel-left

$painel-left-background:#1e2749;
$painel-left-color: #e5e5e5;
$painel-left-li-hover: #273469;

// Home

$icon-card-color: white;
$box-icon-color: blue;

// Outros

$card-padrao: white;
$navbar-top-background:white;

