// Variáveis Sass

// Global

$background-padrao: #F4F6F6;
$font-color-padrao: #1e2749;

// Home

$icon-card-color: white;
$navbar-top-background:white;

// Cards

$card-padrao-background: white;
$card-icon-color: blue;

// Modals

$modal-background: white;
$modal-sucesso: #2ECC71;
$modal-erro: #DC7633;

// Painel-left

$painel-left-background:#30343f;
$painel-left-color: #F4F6F6;
$painel-left-li-hover: #273469;


