// Fontes usadas no site


// Extra-light 200

@font-face {
    font-family: Extra-light;
    src: url(../../../assets/fonts/Montserrat-ExtraLight.ttf);
}


// Regular 400

@font-face {
    font-family: Regular;
    src: url(../../../assets/fonts/Montserrat-Regular.ttf);
}

// Medium 500

@font-face {
    font-family: Medio;
    src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}

// Semi-bold 600

@font-face {
    font-family: Semi-bold;
    src: url(../../../assets/fonts/Montserrat-SemiBold.ttf);
}

// Bold 700

@font-face {
    font-family: Bold;
    src: url(../../../assets/fonts/Montserrat-Bold.ttf);
}

// Extra-bold 800

@font-face {
    font-family: Extra-bold;
    src: url(../../../assets/fonts/Montserrat-ExtraBold.ttf);
}

// Black 900

@font-face {
    font-family: Supreme-bold;
    src: url(./../../assets/fonts/Montserrat-Black.ttf);
}