* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: $color-dark-blue;
    transition: 0.6s;
}

html>body {
    background-color: $color-extra-light-gray;
}

a {
    text-decoration: none !important;
}


li {
    list-style-type: none;
}

h5 {
    color: $color-dark-blue;
    font-family: Bold;
}

label {
    font-size: 15px;
    font-weight: bold;
    color: $color-dark-blue;
}

input,
select {
    border-radius: 10px;
}

table {

    th {
        color: $color-dark-blue;
    }

    td {
        line-height: 30px;
        color: $color-black;
        font-size: 14px;
        font-weight: 500;
    }

    img {
        border-radius: 50%;
        width: 30px;
    }

    tr {
        text-align: center;
        cursor: pointer;
    }

}

button {
    outline: none;
}

input:disabled,
select:disabled {
    background: $color-pure-gray;
    border: 1px solid $color-extra-light-blue;
}