* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-color:#F2F2F2;
    color: #2b2b2f;
}

a {
    text-decoration: none !important;
}

li {
    list-style-type: none;
}

h5 {
    color: $color-dark-blue;
    font-family: Bold;
}


