
// Colors

$color-white: #ffffff;
$color-black: #080809;

// Blue color group

$color-blue: #363C90;
$color-dark-blue: #09023B;
$color-smooth-blue: #273469;
$color-extra-light-blue: #e4d9ff;

// Gray color group

$color-dark-gray:#506177;
$color-pure-gray: #E5E7E9;
$color-smooth-gray: #e5e5e5;
$color-extra-light-gray: #E3ECF5; 

// Red color group

$color-red: #DC3545;
$color-extra-light-red: #F2DCD6;

// Outher color group

$color-green: #28A745;
$color-golden: #d4af37;
$color-green-water: #00D8C3;

// Night mode colors

$color-main-night-mode: #050A11;
$color-secondary-night-mode: #0D151D;
$color-tertiary-night-mode: #3F3D56;
$color-quaternary-night-mode: #2F3044;









