
// Colors

$color-white: #ffffff;
$color-black: #283339;

// Blue color group

$color-blue: #6619c3;
$color-dark-blue: #09023B;
$color-smooth-blue: #273469;
$color-extra-light-blue: #e4d9ff;

// Gray color group

$color-dark-gray:#506177;
$color-pure-gray: #E5E7E9;
$color-smooth-gray: #e5e5e5;
$color-extra-light-gray: #E3ECF5; 

// Red color group

$color-red: #DC3545;
$color-extra-light-red: #F2DCD6;

// Outher color group

$color-green: #28A745;
$color-golden: #d4af37;







