// Variables Sass


// Colors

$azul-padrao:#325EDE;
$azul-escuro: #1e2749;
$azul-escuro-fraco: #273469;
$azul-extra-claro: #e4d9ff;

$branco-padrao: #ffffff;

$cinza-escuro:#506177;
$cinza-claro: #e5e5e5;
$cinza-extra-claro: #E3ECF5;

$verde-padrao: #2ECC71;

$vermelho-padrao: #D35400;
$vermelho-extra-claro: #F2DCD6;

$preto-claro: #283339;

$golden: #d4af37;




