#pagina {

    /* .round-button {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 7px;
        font-size: 12px;
        border-radius: 15px;
        background-color: $color-blue;
        color: $color-white;
    } */

}