#pagina {

    .card {

        @include card(15, $color-white, 1px solid $color-smooth-gray); // border-radius | color | border

        transition: 0.5s;

        .card-title {
            font-size: 15px;
        }

        .card-value {
            font-size: 25px;
        }

        .card-body {
            padding: 15px;
        }

    }

    .card-form {
        
        @include card(15px, $color-dark-gray, none);

        label {
            color: white;
        }
    }
}