#pagina {

    .edit-data-icon {
        @include icon-card($color-dark-gray, $color-blue, #F4F6F6);
    }

    .update-data-icon {
        @include icon-card($color-dark-gray, $color-green, #F4F6F6);
        pointer-events: none;
    }

    .delete-data-icon {
        @include icon-card($color-dark-gray, $color-red, #F4F6F6);
        pointer-events: none;
    }
    
    .printer-icon {
        @include icon-card($color-dark-gray, $color-blue, #F4F6F6);
    }

    .unregistered-unit-icon {
        color: #BDC3C7;
    }

    .registered-unit-icon {
        color: green;
    }

}