#pagina {

    .edit-data-icon {
        @include icon-card($color-dark-gray, $color-blue, $color-smooth-gray);
    }

    .update-data-icon {
        @include icon-card($color-dark-gray, $color-green, $color-smooth-gray);
        pointer-events: none;
    }

    .delete-data-icon {
        @include icon-card($color-dark-gray, $color-red, $color-smooth-gray);
        pointer-events: none;
    }
    
    .printer-icon {
        @include icon-card($color-dark-gray, $color-blue, $color-smooth-gray);
    }

    .unregistered-unit-icon {
        color: #BDC3C7;
    }

    .registered-unit-icon {
        color: green;
    }

}