#pagina {

    .modal {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.3);
    }

    .card-title{
        font-family: Bold;
    }

    .modal-backdrop{
        display: none !important;
    }

    .modal-profile {

        overflow-y: hidden;

        button {
            outline: none;
        }

        .main-sheet{
            span{
                text-align: center;
                font-family: Semi-bold;
                font-size: 13px;
            }
        }

        #profilePhotoModal {

            img {
                width: 250px;
                height: 250px;

                &:hover {
                    transform: none;
                }
            }

            .modal-content {
                border-radius: 15px;
                border: 2px solid #e5e5e5;
                background-color: white;
            }

            input[type="file"] {
                display: none;
            }

        }

        .modal-content {
            border-radius: 15px;
            background-color:#e9ebfa;

            .card{
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

                .teacher-class-title{
                    font-family: Semi-bold;
                    margin-bottom: 15px;
                    font-size: 15px;
                }
            }

            span.badge{
                background-color: $color-blue;
            }
        }

        h4 {
            font-family: Bold;
        }

        img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            transition: all 0.9s ease;
            object-position: top;
            object-fit: cover;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }

        .tab-content {
            border-radius: 15px;
            background-color: white;
            height: 77vh;
            overflow-x: auto;
            border: 1px solid #e5e5e5;

            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }

            form input,
            form select {

                background-color: transparent;
                border: none;
                border-bottom: 3px solid $color-extra-light-blue;

                &:disabled {

                    border: none;
                    font-weight: 500;
                    padding-left: 0;
                    cursor: context-menu;
                    color: $color-dark-gray;
                }
            }

            form {

                .input-group {
                    margin-bottom: 10px;
                }

                .input-group-text {
                    background-color: white;
                    border: none;
                    font-weight: bold;
                }
            }
        }



        #list-tab {

            a.active {
                color: white;
                background-color: $color-blue;
            }

            background-color: white;
            border: 1px solid #e5e5e5;
            border-radius: 10px;

            .list-group-item {
                border: none;
                padding: 10px;
                transition: all 0.2s ease;
                border-radius: 0px;
                font-weight: 500;
                color: $color-dark-gray;
                border-radius: 10px;
                margin-bottom: 5px;
                font-weight: bold;
                background-color: transparent;
                text-align: center;

                &:hover {
                    color: $color-black;
                    background-color: $color-blue;
                    color: white;

                }
            }
        }
    }


    #modal-discipline {

        @include modal-content($color-white, 10px);

    }

    #profileClasseModal{

        form input,
        form select {

            background-color: $color-white;
            border-bottom: none;
            border: 2px solid $color-extra-light-blue;

            &:disabled {
                background-color: $color-pure-gray;
                border-bottom: none;
                padding-left: 10px;
            }
        }

    }
}