#pagina {

    .modal-registration-success {

        .fa-check-circle {
            @include icon-modal($color-green);
        }

    }

    .modal-add {

        margin-top: 40px;

        @include modal-content($color-white, 10px);

        .modal-header {
            font-weight: bold;
        }

        .modal-text {
            margin-top: 30px;
            text-align: center;
            font-weight: 500;
        }

        .modal-registration-error {

            .fa-times-circle {
                @include icon-modal($color-red);
            }

        }

    }

    .modal-profile {

        z-index: 1300;

        .modal-content {
            margin-left: -415px;
            width: 1350px;
            margin-top: -30px;
            height: 630px;
            background-color: $color-black;
        }

        .input-group input{
            border: none;          
            border-bottom: 1px solid $color-extra-light-blue;
        }


        .modal-body>.row:nth-child(1) {
            @include card(10px, $color-pure-gray, 1px solid $color-smooth-gray);
            margin-top: -10px;
        }

        input:disabled
        {
            background: $color-pure-gray;
            border: 1px solid $color-extra-light-blue;
        }

        h5 {
            font-size: 17px;
        }

        a {
            text-decoration: none;
        }

        .fa-edit,
        .fa-check {
            color: $color-dark-gray;
        }

        img {
            border-radius: 50%;
        }

        .close:focus {
            outline: none;
            box-shadow: none;
        }

        .side-collapse-options {

            .list-group {
                margin-top: 20px;
            }

            border-radius: 10px;
            border: 0;
            background: $color-dark-gray;

            @include list-group-item;

            @include aria-expanded-false-and-true($color-white, $color-smooth-blue, transparent, $color-white, 10px);

        }

        .option-list {
            display: flex;
            justify-content: flex-end;
        }

        .horizontal-control-list {
            display: none;
        }

        b {
            color: $color-dark-gray;
        }

        .input-group-prepend span {
            font-weight: bold;
            color: $color-dark-blue;
        }

        .input-group-text {
            background-color: transparent;
            border: none;
            font-weight: bold;
        }

        .input-group {
            padding-left: 0;
            margin-bottom: 13px;
        }

        img {
            display: flex;
            justify-content: center;
        }


        #student-profile-newsletter {

            h5 {
                text-transform: initial;
            }

            text-transform: uppercase;
            font-size: 13px;

            .th-rowspan-2 div {
                margin-top: -50px;
            }

            table {
                width: 1200px;
            }

            b {
                font-weight: 700;
            }

            td,
            th {
                font-size: 13px;
            }

        }

    }

    #profileTeacherModal ,#profileStudentModal  {
        
        input:disabled , select:disabled{
        background-color: transparent;
        font-weight: bold;
        border: none;
        padding-left: 0px;

        }
    }

    #modal-discipline {

        @include modal-content($color-white, 10px);

    }
}