#navbar-top{
    
    background-color: $color-white;
    transition: 0.7s;
    z-index: 1;

    .navbar-brand{
        font-weight:bold;
    }

    .fa-bars{
        color:$color-black;
    }

    a.bars-xs{
        display: none;
    }

    .foto-usuario{
        width: 35px;
    }

    .foto-usuario img{
        width: 100%;
        border-radius: 50%;
    }

    #navbarDropdown{
        color:$color-dark-gray;
        font-size: 14px;
        font-weight: 500;
    }

}