.class-profile {

    margin-top: 15px;

    img {
        margin-top: 0px;
    }

    #accordion-data-student {

        form input,
        form select {

            background-color: $color-white;
            border-bottom: none;
            border: 2px solid $color-extra-light-blue;

            &:disabled {
                background-color: $color-pure-gray;
                border-bottom: none;
                padding-left: 10px;
            }
        }
    }

    button {
        outline: none;
    }

    .main-sheet {

        span {
            text-align: center;
            font-family: Bold;
            font-size: 13px;
        }

        img {
            width: 100px;
            height: 100px;
        }
    }

    h4 {
        font-family: Bold;
    }

    .container-list-group {
        border-radius: 10px;
        padding: 10px;
        padding-top: 0;
        overflow-y: auto;
        overflow-x: hidden;

        nav {
            padding: 10px 15px;
            padding-bottom: 0;
            width: 97%;
            margin: auto;

            ul {

                a {
                    padding: 10px 15px;
                    color: $color-dark-gray;
                    font-size: 13px;
                    text-align: center;
                    display: block;
                    font-size: 13px;
                    margin-bottom: 7px;
                    font-family: Bold;
                    transition: all 0.2s ease;

                    &:hover {
                        border-left: 5px solid #6619c3;
                    }
                }

                [aria-expanded="true"] {
                    border-left: 5px solid $color-blue;
                }
            }
        }

    }

    img {
        border-radius: 50%;
        width: 95px;
        height: 95px;
        margin-top: 10px;
        transition: all 0.9s ease;
        object-position: top;
        object-fit: cover;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    .main-content {
        border-radius: 15px;
        background-color: white;
        height: 95vh;
        overflow-x: auto;
        border: 1px solid #e5e5e5;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }

        .row:nth-child(1) {
            margin-top: 15px;
        }

        #accordion-data-student,
        #accordion-data-teacher {

            form input,
            form select {

                background-color: transparent;
                border: none;
                border-bottom: 3px solid $color-extra-light-blue;

                &:disabled {

                    border: none;
                    font-weight: 500;
                    padding-left: 0;
                    cursor: context-menu;
                    color: $color-dark-gray;
                }
            }

        }


        form {

            .input-group {
                margin-bottom: 10px;
            }

            .input-group-text {
                background-color: white;
                border: none;
                font-weight: bold;
            }
        }
    }


    .modal-sidebar {
        height: 77vh;
        background-color: white;
        border: 1px solid #e5e5e5;
        border-radius: 15px;
        @include card(10px, white, 1px solid #e5e5e5);
    }

}