#pagina {

    .card-icon {
        @include card(10, $card-icon-color, none); // border-radius | color | border
    }

    .card {

        @include card(15, $card-padrao-background, 1px solid #e5e5e5); // border-radius | color | border

        transition: 0.9s;

        .card-title {
            font-size: 15px;
        }

        .card-valor {
            font-size: 25px;
            font-family: Regular;
        }

        .card-body {
            padding: 15px;
        }

    }
}