#pagina {

    .card-icon {
        @include card(10, $azul-padrao, none); // border-radius | color | border
    }

    .card {

        @include card(15, $branco-padrao, 1px solid $cinza-claro); // border-radius | color | border

        transition: 0.5s;

        .card-title {
            font-size: 15px;
        }

        .card-valor {
            font-size: 25px;
        }

        .card-body {
            padding: 15px;
        }

    }
}