// Página

#pagina {

    .linha-pagina {
        margin-top: 80px;
    }

    // Card

    .card {

        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        border: 1px solid #e5e5e5;

        .card-title {
            font-size: 15px;
        }

        .card-valor {
            font-size: 25px;
            font-family: Regular;
        }

        .card-body {
            padding: 15px;
        }

    }

    // Home

    #home {

        table img {
            width: 30px;
        }

        td {
            line-height: 30px;
            font-family: Semi-bold;
            color: $font-color-padrao;
            font-size: 13px;
            cursor: pointer;
        }

        .fa-users,
        .fa-chalkboard-teacher,
        .fa-hourglass-half {
            font-size: 15px;
            color: $icon-card-color;
        }

        .box-icon {
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
            background-color: $box-icon-color;
        }

    }

    // Matricula

    #matricula {

        .assistente-etapas .btn-primary {
            background-color: #273469;
        }

        form :invalid {
            border: 1px solid #E4D9FF;
        }

        form :valid {
            border: 1px solid #7DCEA0;
        }

        // Assistente-etapas

        .assistente-etapas p {
            margin-top: 10px;
            z-index: 1000;
            font-size: 2.5vh;
            font-family: Semi-bold;
        }

        .card {
            transition: 0.9s;
        }

        .assistente-etapas-row {
            display: table-row;
        }

        .assistente-etapas-sessao {
            display: table;
            width: 100%;
            position: relative;
        }

        .assistente-etapas button[disabled] {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .linha-conexao {
            height: 2px;
            background: #e0e0e0;
            position: absolute;
            width: 71%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 15%;
            z-index: 1;
        }

        .assistente-etapas {
            display: table-cell;
            text-align: center;
            position: relative;
            z-index: 1000;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 7px;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
            background-color: blue;
            z-index: 2;
            color: white;
        }

        div>.collapsed {
            background-color: #e4d9ff;
            color: black;
        }

        :disabled {
            background-color: white;

        }


    }


}