// Página

#pagina {

    .linha-pagina {
        margin-top: 80px;
    }

    // Home

    #home {

        table img {
            width: 30px;
        }

        td {
            line-height: 30px;
            font-family: Semi-bold;
            color: $font-color-padrao;
            font-size: 13px;
            cursor: pointer;
        }

        .fa-users,
        .fa-chalkboard-teacher,
        .fa-hourglass-half {
            font-size: 15px;
            color: $icon-card-color;
        }

    }

    // Matricula

    #matricula {

        form {
            :invalid {
                border: 1px solid #E4D9FF;
            }

            :valid {
                border: 1px solid #7DCEA0;
            }
        }

        // Assistente-etapas

        .assistente-etapas {

            display: table-cell;
            text-align: center;
            position: relative;
            z-index: 1000;

            p {
                margin-top: 10px;
                z-index: 1000;
                font-size: 2.5vh;
                font-family: Semi-bold;
            }

            .btn-primary {
                background-color: #273469;
            }
        }


        .assistente-etapas-row {
            display: table-row;
        }

        .assistente-etapas-sessao {
            display: table;
            width: 100%;
            position: relative;
        }

        .linha-conexao {
            height: 2px;
            background: #e0e0e0;
            position: absolute;
            width: 71%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 15%;
            z-index: 1;
        }
       
        div>.collapsed {
            background-color: #e4d9ff;
            color: black;
        }

        :disabled {
            background-color: white;

        }
    }
}