// Página


#pagina {

    .container-pai {
        margin-top: 80px;
    }

    // Home

    #home {

        .fa-users,
        .fa-chalkboard-teacher,
        .fa-hourglass-half {
            font-size: 15px;
            color: $branco-padrao;
        }

    }

    // Matricula

    #matricula_aluno,
    #cadastro_professor {

        // Assistente-etapas

        .assistente-etapas {

            display: table-cell;
            text-align: center;
            position: relative;
            z-index: 1000;

            p {
                margin-top: 10px;
                z-index: 1000;
                font-size: 2.3vh;
                font-weight: 500;
                color: $azul-escuro;
            }

            .btn-primary {
                background-color: $azul-escuro;
            }
        }


        .assistente-etapas-row {
            display: table-row;
        }

        .assistente-etapas-sessao {
            display: table;
            width: 100%;
            position: relative;
        }

        .linha-conexao-0{
            @include linha-conexao(70%);
            background-image:linear-gradient(to left, #e5e5e5 50%, #e5e5e5 50% ) !important;
        }
        .linha-conexao-50{
            @include linha-conexao(70%);
            background-image:linear-gradient(to right, #0000FF 50%, #e5e5e5 50%) !important;
        }
        .linha-conexao-100{
            @include linha-conexao(70%);
            background-image:linear-gradient(to left, #0000FF 50%, #0000ff 50%) !important;
        }

        div>.collapsed {
            background-color: #e4d9ff;
            color: black;
        }

        :disabled {
            background-color: $branco-padrao;

        }
    }

    #cadastro_professor {

        .linha-conexao {
            @include linha-conexao(51%);
            margin-left: 21%;
        }

    }

    #aluno-lista {

        #heading-busca-avancada .btn:focus {
            outline: none;
            box-shadow: none;
        }

        table {

            .icon-unidade-nao-cadastrada {
                color: #BDC3C7;
            }

            .icon-unidade-cadastrada {
                color: green;
            }
        }
    }

    .lista-grupo {

        background-color: #273469;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }

        a.active {
            background: $branco-padrao;
            color: $azul-escuro;
        }

        .list-group-item {

            margin-bottom: 8px;
            border: 0px;
            font-weight: bold;
            font-size: 13.5px;
            color: white;
            border-radius: 10px;
            background-color: transparent;

            &:hover {
                background: $branco-padrao;
                color: $azul-escuro;
            }
        }

    }

    .editar-dados-icon {
        @include card-icon($preto-claro, $azul-escuro-fraco, $cinza-claro);
    }

    .atualizar-dados-icon {
        @include card-icon($preto-claro, $verde-padrao, $cinza-claro);
    }

    .apagar-dados-icon {
        @include card-icon($preto-claro, $vermelho-padrao, $cinza-claro);
    }

    .items-icon {
        @include card-icon($cinza-escuro, $azul-escuro-fraco, $branco-padrao);
        padding-left: 20px;
        padding-right: 20px;
    }

    .justify-content-end [aria-expanded="true"] .items-icon {

        background: $azul-escuro-fraco;
        color: white;

    }

    .card-disciplinas {
        background: $cinza-claro !important;
    }

    .card-form {
        @include card(15px, $cinza-escuro, none);

        label {
            color: white;
        }
    }

    .btn-success {
        background: $verde-padrao;
        border: none;
    }

    .was-validated .form-control:valid {
        border: 1px solid $verde-padrao;
    }

    .was-validated .form-control:invalid {
        border: 1px solid $vermelho-extra-claro;
    }


}