@media screen and (min-width: 0px) and (max-width:578px) {

    #pagina {

        .linha-pagina {
            margin-top: 30px;
        }

        #matricula {

            .assistente-etapas p {
                font-size: 10px;
            }
        }

        #home {

            .card {
                margin-top: 20px;
            }
        }


        th,td{
            font-size: 12px;
        }
    }

    

    .side-painel {
        display: none;
    }

    #painel-left {

        .sider-bar-responsivo {
            display: none;
        }
    }

    #navbar-top {
        display: none;
    }
}

@media screen and (min-width: 579px) and (max-width:778px) {

    #painel-left {

        .sider-bar-responsivo {
            width: 26%;

            li {
                padding: 10px;
                padding-left: 45%;
            }

            .logo {
                padding-left: 40%;
                width: 100px;
            }

        }

    }

}

@media screen and (min-width: 778px) and (max-width:992px) {

    .sider-bar-responsivo {
        border: 2px solid red;
    }

}