#matriculaModal{

    // Modal da realização de cadastro entre alunos e professores

        margin-top: 40px;

        .modal-header{
            font-weight: bold;
        }

       

        @include model-content($branco-padrao);

        .modal-content{
            border-radius: 10px;
        }

        .modal-texto {
            margin-top: 30px;
            text-align: center;
            font-weight: 500;
        }

        .modal-aluno-matricular-sucesso {

            .fa-check-circle {
                @include icon-modal($verde-padrao);
            }

        }

        .modal-aluno-matricular-erro {

            .fa-times-circle {
                @include icon-modal($vermelho-padrao);
            }

        }

}

#perfilAlunoModal {

    .modal-body>.row:nth-child(1) {
        @include card(10px, $branco-padrao, 1px solid $cinza-claro);
        margin-top: -10px;
    }

    .controle-opcoes {

        .list-group{
            margin-top: 20px;
        }

        border-radius: 10px;
        border: 0;
        background: $cinza-escuro;

        .list-group-item{
            background-color: transparent;
            margin-top: 5px;

            &:hover{
                @include aria-expanded($branco-padrao, $cinza-escuro);
            }
        }

        [aria-expanded="true"] {
            @include aria-expanded($branco-padrao, $cinza-escuro);
        }

        [aria-expanded="false"] {
            @include aria-expanded(transparent , $branco-padrao);
        }
        

    }

    .list-group {
        @include list-group(5px, none);
    }

    h5 {
        font-size: 17px;
    }

    a {
        text-decoration: none;
    }

    .fa-edit,
    .fa-check {
        color: $cinza-escuro;
    }

    img {
        border-radius: 50%;
        border: 5px solid $cinza-escuro;
    }

    .modal-content {
        margin-left: -415px;
        width: 1350px;
        margin-top: -30px;
        height: 630px;
        background-color: $cinza-extra-claro;
    }

    .editar-dados-aluno {
        @include card-icon($cinza-claro, $azul-padrao);
    }

    .atualizar-dados-aluno {
        @include card-icon($cinza-claro, $verde-padrao);
    }

    #collapse-perfil-aluno-opcoes-dados {

        b{
            color:$cinza-escuro;
        }

        .input-group-prepend span {
            font-weight: bold;
            color: $cinza-escuro;
        }

        .input-group-text {
            background-color: $branco-padrao;
            border: none;
            font-weight: bold;
        }

        .input-group {
            padding-left: 0;
            margin-bottom: 13px;
        }

        input:disabled {
            background-color: $branco-padrao;
            border: none;
            padding-left: 0px;
        }
    }

    #collapse-perfil-aluno-opcoes-nota input:disabled {
        background-color: $branco-padrao;
        border: none;
    }

    


    #collapse-perfil-aluno-opcoes-dados,
    #collapse-perfil-aluno-opcoes-nota,
    #collapse-perfil-aluno-opcoes-boletim {
        height: 520px;
        width: 890px;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }

    #collapse-perfil-aluno-opcoes-boletim {

        h5 {
            text-transform: initial;
        }

        .imprimir-boletim {
            @include card-icon($cinza-escuro, $azul-padrao);
        }

        text-transform: uppercase;
        font-size: 13px;

        .th-rowspan-2 div {
            margin-top: -50px;
        }

        b{
            font-weight: 700;
        }

        td,
        th {
            font-size: 13px;
        }

    }

    .conteudo-lista-disciplinas {

        [aria-expanded="true"] {
            @include aria-expanded($azul-padrao, $branco-padrao);
        }

        [aria-expanded="false"] {
            @include aria-expanded($cinza-claro, $cinza-escuro);
        }

        .icon-unidade {
            border-radius: 30px;
            padding: 10px;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    .dados-avaliacoes {

        input {
            width: 60px;
            text-align: center !important;
        }

        td,
        th {
            line-height: 40px;
            justify-content: center;
            cursor: context-menu;
        }
    }

    .unidades a[aria-expanded="true"]{
        @include aria-expanded($azul-escuro, $branco-padrao);
        border-radius: 15px;
    }

}