#navbar-top {

    background-color: $color-white;
    transition: 0.7s;
    position: fixed;
    z-index: 3;
    padding: 15px;

    .navbar-brand {
        font-weight: bold;
    }

    ul{
        margin-right: 20px;
    }

    .fa-cog{
        font-size: 20px;
        color: $color-dark-gray;
    }

    .fa-bars {
        color: $color-black;
    }

    a.bars-xs {
        display: none;
    }

    img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        object-position: top;
        object-fit: cover;
        cursor: pointer;
    }

    #navbarDropdown {
        color: $color-dark-gray;
        font-size: 14px;
        font-weight: 500;
    }

}

#navbarBottom{
    border-radius: 0px !important;

    img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        object-position: top;
        object-fit: cover;
        cursor: pointer;
    }

    .account{
        padding: 8px;
        font-size: 10px;
        border-radius: 10px;
        font-family: Bold;
    }

    .main-icon{
        color: white;

        div{
            background-color: $color-blue;
            border-radius: 20vw;
            padding: 10px !important;
            width: 70%;
        }
    }

    .card{
        border: 0;
        box-shadow: none;
    }
}
