#navbar-top{
    
    background-color: $branco-padrao;
    transition: 0.7s;
    z-index: 1;

    .navbar-brand{
        font-weight:bold;
    }

    .fa-bars{
        color:black;
    }

    .foto-usuario{
        width: 35px;
    }

    .foto-usuario img{
        width: 100%;
        border-radius: 50%;
    }

    #navbarDropdown{
        color:$cinza-escuro;
        font-size: 14px;
        font-weight: 500;
    }

}