html body{

#navbar-top {

    background-color: $color-white;
    transition: 0.7s;
    position: fixed;
    z-index: 3;
    padding: 15px;

    .navbar-brand {
        font-weight: bold;
    }

    ul {
        margin-right: 20px;
    }

    .fa-cog {
        font-size: 20px;
        color: $color-dark-gray;
    }

    .fa-bars {
        color: $color-black;
    }

    a.bars-xs {
        display: none;
    }

    img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        object-position: top;
        object-fit: cover;
        cursor: pointer;
    }

    #navbarDropdown {
        color: $color-dark-gray;
        font-size: 14px;
        font-weight: 500;
    }

}

nav#navbarBottom {
    border-radius: 0px;
    border: none;

    a{
        font-size: 12px;
        font-family: Bold;
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    i.fas{
        font-size: 10px;
    }

    a:hover{
        span{
            display: inline;
            color: $color-dark-blue;
        }
    }

    span {
        display: none;
        margin-left: 10px;
        transition: 1s ease-in-out infinite alternate-reverse both;
    }

    .navbar-collapse {
        margin-top: -18px;
    }

    .link-active {
        border-top: 3px solid #4285F4;
        
        i.fas{
            color: $color-dark-blue;
        }
    }

}

}