// Painel Left 

#painel-left {
    
    width: 100%;
    z-index: 2;

    li {

        @include side-bar-li(10px, left, 40px, transparet, $azul-escuro-fraco, none);

        a {
            @include side-bar-a(12, $branco-padrao, 0);
        }

    }

    h5 {
        color: $branco-padrao;
        text-align: left;
        padding-left: 40px;
        font-size: 13px;
        margin-top: 15px;
    }


    .link-collapse:hover {
        background-color: $azul-escuro-fraco;
        border-left: 0px;
    }

    .collapse li {

        border-left: 20px solid #FAFAFF;

        @include side-bar-li(10px, left, 40px, $azul-escuro-fraco, #30343F, 20px solid #FAFAFF);

    }

    .side-bar {
        margin-left: 150px;
        @include side-bar(240px);

        .logo {
            @include side-bar-logo(100px, 0px, 20px auto);
        }
    }

    .side-bar-responsivo {

        @include side-bar(180px);

        .link-collapse span,
        .fa-angle-down {
            display: none;
        }

        .navbar-brand {
            margin-left: 50px;
        }

        li {
            @include side-bar-li(10px, center, 70px, transparet, $azul-escuro, none);
        }

        h5 {
            display: none;
        }

        .logo {
            @include side-bar-logo(100px, 60px, 20px auto);
        }

        .link-collapse a {
            @include side-bar-a(15, $branco-padrao, 10px);
        }

        .collapse {

            a {
                font-size: 10px;
            }

            li {
                border-left: 0px;
            }
        }
    }

}