// Painel Left 

#painel-left {
    width: 100%;
    z-index: 2000;

    li {

        @include side-bar-li(10px, left, 40px, Regular, transparet, blueviolet, none);

        a {
            @include side-bar-a(12, Medio, $painel-left-color, 0);
        }

    }

    h5 {
        color: $painel-left-color;
        text-align: left;
        padding-left: 40px;
        font-size: 13px;
        margin-top: 15px;
        font-family: Bold;
    }

    .link-collapse a,
    .collapse li span {
        font-family: Semi-bold;
    }

    .link-collapse:hover {
        background-color: $painel-left-li-hover;
        border-left: 0px;
    }

    .collapse li {

        border-left: 20px solid #FAFAFF;

        @include side-bar-li(10px, left, 40px, Regular, #1D2140, #30343F, 20px solid #FAFAFF);

    }

    .side-bar {
        margin-left: 150px;
        @include side-bar(240px);

        .logo{
            @include side-bar-logo(100px, 0px, 20px auto);
        }
    }

    .side-bar-responsivo {

        @include side-bar(180px);

        .link-collapse span,
        .fa-angle-down {
            display: none;
        }

        li {
            @include side-bar-li(10px, center, 70px, Regular, transparet, $painel-left-li-hover, none);
        }

        h5 {
            display: none;
        }

        .logo {
            @include side-bar-logo(100px, 60px, 20px auto);
        }

        .link-collapse a {
            @include side-bar-a(15, Semi-bold, $painel-left-color, 10px);
        }

        .collapse {

            a {
                font-size: 10px;
            }

            li {
                border-left: 0px;
            }
        }
    }

}