/*Folha de Estilo CSS*/

/*Setor Slide Controle 1*/

#pagina {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

html, body {
    height: 100%;
    box-sizing: border-box !important;
}

.quadrado_icons {
    display: inline-block;
    background-color: #f3f8ff;
    padding: 20px;
    border-radius: 10px;
}

.quadrado_icons:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: 0.8s;
    background-color: #1479ff;
}

.night-mode .quadrado_icons:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: 0.8s;
    background-color: #1479ff ;
}

.active span {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#slide_controler1 {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -265px;
    overflow-y: auto;
    background: white;
    border-right: 1px solid #e5e5e5;  
    overflow: hidden;
}

.night-mode #slide_controler1 {
    border: none ; 
}

#sessao_matricula_aluno, #sessao_lista_aluno {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/* Slide Nav */

.slide_nav {
    position: absolute;
    top: 0;
    width: 350px;
    margin-left: 40px !important;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.slide_nav li a {
    display: block;
    text-decoration: none;
    padding: 15.7px;
}

.fa-home, .fa-user-plus, .fa-user-cog, .fa-chart-pie, .fa-clone, .fa-users, .fa-question-circle, .fa-comments, .fa-list-alt, .fa-users, .fa-user-times {
    color: #c3c6c9;
    box-sizing: border-box;
}

/*Setor Slide Controle  2*/

#navegacao .navbar {
    background-color: white;
    border-top: 1px solid #e5e5e5;
}

.navbar {
    background-color: white;
    border-bottom: 0.5px solid #e5e5e5;
}

#navegacao span {
    display: inline-block;
}

#navegacao li {
    padding: 10px;
    border-radius: 20% !important;
}

#navegacao .active {
    color: blue;
}

/*Fim do setor*/

li {
    font-weight: 500;
    text-decoration: none;
    list-style-type: none !important;
    border: none !important;
}

@media screen and (min-width: 0px) and (max-width:576px) {
    #sessao_matricula_aluno, #sessao_lista_aluno {
        margin-bottom: 50px;
    }
    .login {
        padding: 0px;
    }
    .login {
        margin-top:30px;
        border-radius: 0px;
        border-top-left-radius: 20% !important;
    }
    .setorB {
        border-radius: 0px !important;
        margin-top: 0 !important;
    }
    #login, .linhapai {
        margin-top:20px;
        background-color: white;
        border: 2px solid white;
    }
    #login{
        background-color:white;
    }
    .setorB .card-title {
        margin-bottom: 30px !important;
    }
    #slide_controler1_parte2 {
        display: none;
    }
    #pagina {
        padding-left: 0px !important;
    }
    #slide_controler1 {
        display: none !important;
    }
    #recentes2 {
        display: none;
    }
    #recentes{
        margin-bottom: 20px !important;
    }
    .usuario_perfil {
        display: none;
    }
    .setorA {
        display: none !important;
    }
    .linha_padrao{
        display: none;
    }
}

@media screen and (min-width: 577px) and (max-width:768px) {
    #sessao_matricula_aluno, #sessao_lista_aluno {
        margin-bottom: 50px;
    }
    #slide_controler1 {
        display: none !important;
    }
    #pagina {
        padding-left: 0px !important;
    }
    .usuario_perfil {
        display: none;
    }
    
    #recentes {
        display: none;
    }
    .linha_matricula {
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
    .setorA {
        display: none !important;
    }
    .linha_xs{
        display: none !important;
    }
}

@media screen and (min-width: 769px) and (max-width:992px) {
    #navegacao {
        display: none;
    }
    #slide_controler1 {
        width: 130px !important;
    }
    #rodape{
        display: none;
    }
    #slide_controler1 a {
        font-size: 14px;
    }
    #sessao_matricula_aluno, #sessao_lista_aluno {
        padding: 25px;
        position: relative;
    }
    #sessao_home {
        margin-left: -100px;
        padding-left: 50px;
    }
    #pagina li {
        width: 100%;
        text-align: center;
    }
    .usuario_perfil {
        display: none;
    }
    #recentes {
        display: none;
    }
    h5 {
        font-size: 15px !important;
    }
    #navbar {
        display: none;
    }
    .linha_matricula {
        margin-left: 150px !important;
    }
    .setorA {
        display: none !important;
    }
    .linha_xs{
        display: none !important;
    }
    .linhapai{
        margin-top:50px;
        border:1px solid #e5e5e5 !important;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    }
}

@media screen and (min-width: 993px) and (max-width:2400px) {
    #navegacao {
        display: none;
    }
    .linha-xs {
        display: none;
    }
    #rodape{
        display: none;
    }
    #navbar {
        display: none;
    }
    #slide_controler1 {
        width: 168px !important;
    }
    #sessao_home, #sessao_lista_aluno {
        margin-left: -48px;
    }
    #pagina li {
        width: 100%;
        text-align: center;
    }
    .text-secondary {
        font-size: 1vw;
    }
    .text-secondary h5 {
        border: 2px solid red;
    }
    .valor {
        font-size: 1vw;
    }
    #recentes2 {
        display: none;
    }
    .linha_matricula {
        margin-left: 270px !important;
    }
    .setorB .card-title {
        margin-top: 30px !important;
        margin-bottom: 40px !important;
    }
    .linha_xs{
        display: none !important;
    }
    .linhapai{
        margin-top:70px;
        border:1px solid #e5e5e5 !important;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    }
}

/*Lista de Matriculados*/

.modal-content {
    border-radius: 15px !important;
}

.modal-footer {
    border: none;
    border-radius: 15px !important;
}

.modal-title, .modal-header {
    border: none;
}

.esconde {
    display: none !important;
    transition: 0.6s;
}

.aparecer {
    display: hidden !important;
}

#teste {
    cursor: context-menu !important;
}

#sessao_lista_aluno .editar {
    cursor: pointer;
}

#sessao_lista_aluno .deletar {
    cursor: pointer;
}

#sessao_home .card {
    border-radius: 15px;
    border: none;
}

#sessao_home h5, #sessao_lista_aluno, #sessao_analiseDados {
    color: #3f286e;
    font-weight: bold;
}

#sessao_home, #sessao_lista_aluno, #sessao_matricula_aluno {
    background-color: #f3f5fb;
}

#sessao_home .fa-user, .fa-check {
    font-size: 22px;
    padding: 3px;
    background-color: transparent;
    color: #8858fe;
}

.caixa-icon {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.calendario span {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 10px !important;
    text-align: center;
    padding: 10px
}

.usuario_perfil .fa-bell {
    font-size: 20px;
    color: #8858fe;
}

.usuario_perfil {
    background-color: white;
}

.nome_usuario {
    color: #3f286e;
}

.nivel_usuario {
    color: darkgray;
}

#conteudo {
    background-color: white;
    border-radius: 15px;
}

#home .fa-home, #matricular .fa-user-plus, #lista .fa-users, #analise .fa-chart-pie {
    color: white !important;
}

#home .um, #matricular .dois, #lista .tres, #analise .quatro {
    background-color: #1479ff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#home #navegacao .fa-home, #matricular #navegacao .fa-user-plus, #lista #navegacao .fa-users, #analise #navegacao .fa-chart-pie {
    color: #1479ff !important;
}

.night-mode #home .um, .night-mode #matricular .dois, .night-mode #lista .tres, .night-mode #analise .quatro {
    background-color:  #1479ff !important;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.setorA {
    background-image: url(../img/vetor1.png);
    background-repeat: no-repeat;
}

.linhapai {
    /* background-image: linear-gradient(to bottom, #f3f5fb #ff, 50%, #1117a4 50%); */
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.setorB form input {
    border-top: none;
    border-left: none;
    border-right: none;
}

.setorB .btn {
    border-radius: 5px;
}

.setorB .card {
    border: none;
}

#rodape {
    bottom:0;
    left:0;
    position: absolute;
    width: 100% !important;
    height: 100px;
    overflow: hidden;
   

}

#rodape .wave {
    position: absolute;
    width: 100% !important;
    z-index: 1;  
    z-index:1000;
    height: 80px;
    background-image: url(../img/wave2.png);
    background-size: 1000px 100px;
}

#rodape .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 9;
    animation-delay: 0s;
    bottom: 0;
}

#rodape .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

#rodape .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

#rodape .wave.wave4 {
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

.night-mode #sessao_home {
    background-color: black !important;
}

.night-mode #sessao_home .card {
    background-color: #33363b;
}

.night-mode #sessao_home h5 {
    color: white;
}

.night-mode #sessao_home .hora {
    color: white;
    background-color: #33363b;
}

#sessao_home .hora {
    color: black;
    background-color: white;
}

.night-mode  .caixa-icon {
    color: white;
    background-color: #171717;
}



.night-mode #sessao_home .usuario_perfil {
    background-color: #33363b;
}

.night-mode #sessao_home .alert {
    background-color:  #171717;
}

#sessao_home .alert {
    background-color: #8858fe;
    color:white;
}

.night-mode #sessao_home .nivel_usuario {
    color: white;
}

.night-mode #sessao_home .nome_usuario {
    color: white;
}

.night-mode #sessao_home .highcharts-figure {
    background: #33363b !important;
}
#sessao_home .highcharts-figure {
    background: white;
}

.night-mode #slide_controler1 {
    background: #33363b !important;
}

.night-mode #sessao_home .caixa-icon .fa-user, .night-mode #sessao_home .caixa-icon .fa-check {
    color: #e5e5e5;
}

.night-mode body {
    background-color: black;
}

.night-mode .fa-pen {
    color: #e5e5e5;
}

.fa-pen {
    color: #1479ff;
    cursor:pointer;
}

.fa-trash-alt{
    color: red;
    cursor:pointer;
}

.night-mode #slide_controler1 .sidebar-brand a {
    color: white;
}

.night-mode #slide_controler1 .quadrado_icons {
    background-color: #171717;
}

.night-mode #recentes {
    background: #33363b;
}

.night-mode #sessao_analiseDados .card {
    background: #33363b;
}

.night-mode #sessao_analiseDados .highcharts-figure {
    background: #33363b;
}

.night-mode #sessao_analiseDados h5{
    color:white;
}

.night-mode #recentes2 {
    background: #33363b;
}

.night-mode #recentes th, .night-mode #recentes td {
    color: white;
}

.night-mode #recentes2 th, .night-mode #recentes2 td {
    color: white;
}

#recentes,#recentes2 {
    background: white;
}

#recentes th, #recentes td {
    color: black;
}

.night-mode .highcharts-background {
    fill: #33363b;
}
.night-mode #navegacao .navbar {
    background: black;
    border-top: 1px solid #e5e5e5;
    border-bottom: none;
}

.night-mode .navbar {
    background: black;
    border-bottom: 1px solid #e5e5e5;
    color:white;    
}

.night-mode #sessao_matricula_aluno{
    background-color:#171717;
}
.night-mode .aluno{
    background-color: #33363b;
}

.night-mode #sessao_matricula_aluno img{
    border:10px solid #575454;
}

#sessao_matricula_aluno img{
    border:10px solid white;
}

.night-mode #sessao_lista_aluno{
    background-color: #171717;  
}

#sessao_lista_aluno table .btn{
    cursor: context-menu;
}

.night-mode  #tamanho{
    background-color: #171717;
    color: white;  
    border: none;
}

.night-mode #sessao_lista_aluno select{
    background-color: #e5e5e5;
}

.night-mode .modal-content{
    background-color:#33363b;
}

.night-mode .modal-title{
    color:white;
}



.night-mode .modal-content .card{
    background-color: #171717  ;
    border-radius:15px;
}

 .modal-content{
    background-color: #f3f5fb !important;
    border-radius:15px;
}
.night-mode .modal-content{
    background-color: #33363b !important;
    border-radius:15px;
}

.night-mode .modal-content label{
    color:white;
}

.night-mode #sessao_lista_aluno table{
    background-color: #33363b;  
}

.night-mode #sessao_lista_aluno th,.night-mode #sessao_lista_aluno td{
    color:white;  
}

.night-mode #sessao_lista_aluno #conteudo{
    background-color: #33363b;  
}

.night-mode .modal-content h5{
    color:white;
}

.night-mode .modal-content .active{
    color:#1ea2f2 !important;
}

.night-mode .modal-content a{
    color:#e1e1e2;
}

.modal-content .nav-tabs .active{
    color:blue;
}

.modal-content a{
    color:black;
}

.night-mode .active{
    color: #e5e5e5;
}


.night-mode #sessao_lista_aluno label, .night-mode #sessao_lista_aluno h5{
    color: white;
}

#sessao_matricula_aluno {
    background-color: white;
}

.night-mode #sessao_matricula_aluno h5{
    color:white;
}

.night-mode #sessao_matricula_aluno label{
    color:white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@import 'https://code.highcharts.com/css/highcharts.css';
.night-mode .highcharts-title {
    fill: white !important;
    font-weight: bold;
}

.highcharts-series {
    fill: white !important;
    color: white !important;
}

.night-mode .highcharts-ayis-labels{
    fill: white !important;
    color: white !important;
}









.modal-sucesso{
    color:#434e65;
    width: 525px;
}

.modal-erro{
    width: 525px;
    color: black;
}

.modal-sucesso .modal-content , .modal-erro .modal-content{
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-sucesso .modal-header{
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-erro .modal-header{
    background: red;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-sucesso h4 , .modal-erro h4{
	text-align: center;
	font-size: 36px;
	margin: 10px 0;
}

.modal-sucesso .form-control, .modal-sucesso .btn {
	min-height: 40px;
	border-radius: 3px; 
}

.modal-erro .form-control, .modal-erro .btn {
	min-height: 40px;
	border-radius: 3px; 
}

.modal-sucesso .close , .modal-erro .close{
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
	opacity: 0.5;
}

.modal-sucesso .close:hover , .modal-erro .close:hover {
	opacity: 0.8;
}

.modal-sucesso .icon-box , .modal-erro .icon-box {
	color: #fff;		
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 50%;
	z-index: 9;
	border: 5px solid #fff;
	padding: 15px;
	text-align: center;
}

.modal-sucesso .icon-box .fa-check, .modal-erro .icon-box .fa-ban{
    font-size: 64px;
    color:white;
	margin: -4px 0 0 -4px;
}

.modal-sucesso .modal-dialog , .modal-erro .modal-dialog {
	margin-top: 80px;
}

.modal-sucesso .btn, .modal-sucesso .btn:active , .modal-erro .btn, .modal-erro .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #eeb711 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 30px;
	margin-top: 10px;
	padding: 6px 20px;
	border: none;
}

.modal-sucesso .btn:hover, .modal-sucesso .btn:focus {
	background: #eda645 !important;
	outline: none;
}
.modal-sucesso .btn span {
	margin: 1px 3px 0;
	float: left;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}




