* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

html > body {
  background-color: #F0F0F8;
  color: #2b2b2f;
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

h5 {
  color: #09023B;
  font-family: Bold;
}

label {
  font-size: 15px;
  font-weight: bold;
  color: #09023B;
}

input,
select {
  border-radius: 10px;
  color: #09023B;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

table th {
  color: #09023B;
  border-top: none;
}
table thead {
  border-top: none;
}
table td {
  line-height: 30px;
  color: #080809;
  font-size: 14px;
  font-weight: 500;
}
table img {
  border-radius: 50%;
  width: 30px;
}
table tr {
  text-align: center;
  cursor: pointer;
}

button {
  outline: none;
}

@font-face {
  font-family: Extra-light;
  src: url(../../../assets/fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: Regular;
  src: url(../../../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Medio;
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Semi-bold;
  src: url(../../../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Bold;
  src: url(../../../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Extra-bold;
  src: url(../../../assets/fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: Supreme-bold;
  src: url(./../../assets/fonts/Montserrat-Black.ttf);
}
#pagina .main-button {
  background-color: #363C90;
  font-weight: 500;
}
#pagina .btn {
  border-radius: 5px;
}

#pagina .card {
  padding: 15;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  transition: 0.5s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
#pagina .card .card-body {
  padding: 15px;
}
#pagina .card-form {
  padding: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e5e5;
  background-color: #506177;
}
#pagina .card-form label {
  color: white;
}

#pagina #profileStudentModal .container-list-group {
  height: 45vh;
  overflow: auto;
}
#pagina .modal-full {
  min-width: 100%;
  margin: 0px;
  margin-right: 0px;
}
#pagina .modal-full .modal-content {
  min-height: 100vh;
}
#pagina .modal {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
}
#pagina .card-title {
  font-family: Bold;
}
#pagina .modal-backdrop {
  display: none !important;
}
#pagina .modal-profile {
  overflow-y: hidden;
}
#pagina .modal-profile button {
  outline: none;
}
#pagina .modal-profile #class-profile-assessments {
  overflow-y: hidden;
}
#pagina .modal-profile .main-sheet {
  border-bottom: 1px solid #e5e5e5;
}
#pagina .modal-profile .main-sheet span {
  text-align: center;
  font-family: Bold;
  font-size: 13px;
}
#pagina .modal-profile .main-sheet img {
  width: 100px;
  height: 100px;
}
#pagina .modal-profile #profilePhotoModal img {
  width: 250px;
  height: 250px;
}
#pagina .modal-profile #profilePhotoModal img:hover {
  transform: none;
}
#pagina .modal-profile #profilePhotoModal .modal-content {
  border-radius: 15px;
  border: 2px solid #e5e5e5;
  background-color: white;
}
#pagina .modal-profile #profilePhotoModal input[type=file] {
  display: none;
}
#pagina .modal-profile .modal-content {
  background-color: #e9ebfa;
}
#pagina .modal-profile .modal-content .card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
#pagina .modal-profile .modal-content .card .teacher-class-title {
  font-family: Semi-bold;
  margin-bottom: 15px;
  font-size: 15px;
}
#pagina .modal-profile .modal-content span.badge {
  background-color: #363C90;
}
#pagina .modal-profile h4 {
  font-family: Bold;
}
#pagina .modal-profile .container-list-group {
  border-radius: 15px;
  padding: 10px;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#pagina .modal-profile .container-list-group nav {
  padding: 10px 15px;
  padding-bottom: 0;
  width: 97%;
  margin: auto;
}
#pagina .modal-profile .container-list-group nav ul a {
  padding: 10px 15px;
  color: #7F8C8D;
  font-size: 13px;
  text-align: left;
  display: block;
  margin-bottom: 7px;
  font-family: Bold;
  transition: all 0.2s ease;
  border-left: 4px solid white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#pagina .modal-profile .container-list-group nav ul a:hover {
  background: #E8F0FE;
  color: #363C90;
}
#pagina .modal-profile .container-list-group nav ul [aria-expanded=true] {
  background: #E8F0FE;
  color: #363C90;
}
#pagina .modal-profile .modal-sidebar img {
  border-radius: 50%;
  width: 95px;
  height: 95px;
  margin-top: 10px;
  transition: all 0.9s ease;
  object-position: top;
  object-fit: cover;
  cursor: pointer;
  border: 5px solid #E8F0FE;
}
#pagina .modal-profile .modal-sidebar img:hover {
  transform: scale(1.1);
}
#pagina .modal-profile .main-content {
  border-radius: 15px;
  background-color: white;
  height: 87vh;
  overflow-x: auto;
  border: 1px solid #e5e5e5;
}
#pagina .modal-profile .main-content .row:nth-child(1) {
  margin-top: 15px;
}
#pagina .modal-profile .main-content .card {
  border: 2px solid #E5E7E9;
}
#pagina .modal-profile .main-content #accordion-data-student form input,
#pagina .modal-profile .main-content #accordion-data-student form select,
#pagina .modal-profile .main-content #accordion-data-teacher form input,
#pagina .modal-profile .main-content #accordion-data-teacher form select,
#pagina .modal-profile .main-content #accordion-data-admin form input,
#pagina .modal-profile .main-content #accordion-data-admin form select {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #e4d9ff;
}
#pagina .modal-profile .main-content #accordion-data-student form input:disabled,
#pagina .modal-profile .main-content #accordion-data-student form select:disabled,
#pagina .modal-profile .main-content #accordion-data-teacher form input:disabled,
#pagina .modal-profile .main-content #accordion-data-teacher form select:disabled,
#pagina .modal-profile .main-content #accordion-data-admin form input:disabled,
#pagina .modal-profile .main-content #accordion-data-admin form select:disabled {
  border: none;
  font-weight: 500;
  padding-left: 0;
  cursor: context-menu;
  color: #506177;
}
#pagina .modal-profile .main-content form .input-group {
  margin-bottom: 10px;
}
#pagina .modal-profile .main-content form .input-group-text {
  background-color: white;
  border: none;
  font-weight: bold;
}
#pagina .modal-profile .modal-sidebar {
  height: 87vh;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e5e5;
  background-color: white;
}
#pagina .simple-modal .modal-content {
  border-radius: 15px;
}
#pagina #profileClassModal img {
  margin-top: 0px;
}
#pagina #profileClassModal #accordion-data-student form input,
#pagina #profileClassModal #accordion-data-student form select {
  background-color: #ffffff;
  border-bottom: none;
  border: 2px solid #e4d9ff;
}
#pagina #profileClassModal #accordion-data-student form input:disabled,
#pagina #profileClassModal #accordion-data-student form select:disabled {
  background-color: #E5E7E9;
  border-bottom: none;
  padding-left: 10px;
}

#pagina form {
  border-radius: 10px;
}
#pagina form input:disabled,
#pagina form select:disabled,
#pagina form textarea:disabled {
  background-color: #E5E7E9;
  cursor: no-drop;
  border: none;
  color: #09023B;
}
#pagina form .form-control:valid {
  border: 2px solid #e4d9ff;
}
#pagina form .form-control:invalid {
  border: 2px solid #F2DCD6;
}
#pagina form textarea {
  padding: 10px 15px;
  border-radius: 10px;
}

#pagina .edit-data-icon {
  cursor: pointer;
  color: #506177;
  border-radius: 10px;
  background: #E5E7E9;
  padding: 10px;
  transition: all 0.2s ease;
}
#pagina .edit-data-icon:hover {
  color: #ffffff;
  background-color: #363C90;
}
#pagina .edit-data-icon:hover .fa-edit,
#pagina .edit-data-icon:hover .fa-print,
#pagina .edit-data-icon:hover .fa-check,
#pagina .edit-data-icon:hover .fa-ban,
#pagina .edit-data-icon:hover .fa-boxes,
#pagina .edit-data-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .update-data-icon {
  cursor: pointer;
  color: #506177;
  border-radius: 10px;
  background: #E5E7E9;
  padding: 10px;
  transition: all 0.2s ease;
  pointer-events: none;
}
#pagina .update-data-icon:hover {
  color: #ffffff;
  background-color: #28A745;
}
#pagina .update-data-icon:hover .fa-edit,
#pagina .update-data-icon:hover .fa-print,
#pagina .update-data-icon:hover .fa-check,
#pagina .update-data-icon:hover .fa-ban,
#pagina .update-data-icon:hover .fa-boxes,
#pagina .update-data-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .delete-data-icon {
  cursor: pointer;
  color: #506177;
  border-radius: 10px;
  background: #E5E7E9;
  padding: 10px;
  transition: all 0.2s ease;
  pointer-events: none;
}
#pagina .delete-data-icon:hover {
  color: #ffffff;
  background-color: #DC3545;
}
#pagina .delete-data-icon:hover .fa-edit,
#pagina .delete-data-icon:hover .fa-print,
#pagina .delete-data-icon:hover .fa-check,
#pagina .delete-data-icon:hover .fa-ban,
#pagina .delete-data-icon:hover .fa-boxes,
#pagina .delete-data-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .printer-icon {
  cursor: pointer;
  color: #506177;
  border-radius: 10px;
  background: #e5e5e5;
  padding: 10px;
  transition: all 0.2s ease;
}
#pagina .printer-icon:hover {
  color: #ffffff;
  background-color: #363C90;
}
#pagina .printer-icon:hover .fa-edit,
#pagina .printer-icon:hover .fa-print,
#pagina .printer-icon:hover .fa-check,
#pagina .printer-icon:hover .fa-ban,
#pagina .printer-icon:hover .fa-boxes,
#pagina .printer-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .refesh-data-icon {
  cursor: pointer;
  color: #506177;
  border-radius: 10px;
  background: #e5e5e5;
  padding: 10px;
  transition: all 0.2s ease;
}
#pagina .refesh-data-icon:hover {
  color: #ffffff;
  background-color: #506177;
}
#pagina .refesh-data-icon:hover .fa-edit,
#pagina .refesh-data-icon:hover .fa-print,
#pagina .refesh-data-icon:hover .fa-check,
#pagina .refesh-data-icon:hover .fa-ban,
#pagina .refesh-data-icon:hover .fa-boxes,
#pagina .refesh-data-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .unregistered-unit-icon {
  color: #BDC3C7;
}
#pagina .registered-unit-icon {
  color: green;
}
#pagina .mural-icon {
  padding: 10px;
  border-radius: 20%;
  font-size: 12px;
}
#pagina .events {
  font-family: Bold;
  font-size: 10px;
  text-align: justify;
}

#left-panel {
  display: flex;
  font-family: Semi-bold;
}
#left-panel #sidebar {
  width: 16.5vw;
  position: fixed;
  top: 0;
  transition: all 0.7s ease;
  left: 0;
  height: 100vh;
  z-index: 2;
  background-color: #09023B;
  overflow: auto;
  box-shadow: 5px 0 4px -4px #999, -6px 0 4px -4px #999;
}
#left-panel #sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
#left-panel #sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
#left-panel #sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
#left-panel #sidebar .sidebar-header {
  color: #ffffff;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
#left-panel #sidebar .sidebar-header span {
  display: none;
}
#left-panel #sidebar .sidebar-lists p {
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 10px 25px;
}
#left-panel #sidebar .sidebar-lists i.fas, #left-panel #sidebar .sidebar-lists i.bi {
  color: #C4C4C4;
  margin-right: 1.5vw;
}
#left-panel #sidebar .sidebar-lists .fa-angle-right, #left-panel #sidebar .sidebar-lists .fa-angle-down {
  position: absolute;
  right: 0;
  margin-top: 0.5vh;
}
#left-panel #sidebar .sidebar-lists a {
  color: #C4C4C4;
  font-weight: 300;
  font-size: 12px;
  transition: 1s;
  display: block;
}
#left-panel #sidebar .sidebar-lists a:hover {
  color: #ffffff;
}
#left-panel #sidebar .sidebar-lists li {
  margin-top: 0.5vw;
  padding: 10px 30px;
  width: 100%;
}
#left-panel #sidebar .sidebar-lists li:hover {
  background-color: #202124;
}
#left-panel #sidebar .sidebar-lists .collapse li {
  background-color: #080809;
  padding: 15px 25px;
  margin-top: 0;
  transition: 1s;
  width: 100%;
  border-left: 5px solid #363C90;
}
#left-panel #sidebar .sidebar-lists .collapse li:hover {
  background-color: #2C2D32;
  border-left: 5px solid #ffffff;
}
#left-panel #sidebar .sidebar-lists .collapse li:hover > a {
  color: #ffffff;
}
#left-panel #sidebar .sidebar-lists .collapse a {
  display: block;
  transition: 1s;
  text-align: center;
  color: #C4C4C4;
}

.sidebar-responsive #left-panel #sidebar {
  width: 8.2vw;
  background-color: #080809;
}
.sidebar-responsive #left-panel #sidebar .sidebar-header {
  display: none;
}
.sidebar-responsive #left-panel #sidebar .sidebar-lists a span.link-name,
.sidebar-responsive #left-panel #sidebar .sidebar-lists a i.fa-angle-right, .sidebar-responsive #left-panel #sidebar .sidebar-lists a i.fa-angle-down {
  display: none !important;
}
.sidebar-responsive #left-panel #sidebar .sidebar-lists a i.fas, .sidebar-responsive #left-panel #sidebar .sidebar-lists a i.bi {
  font-size: 17px;
  margin-right: 0px;
  color: #ffffff;
  padding: 10px 5px;
  text-align: center;
  display: block;
}
.sidebar-responsive #left-panel #sidebar p {
  display: none;
}
.sidebar-responsive #left-panel #sidebar li {
  padding: 10px 0px;
}

#studentPortal textarea:disabled {
  background: white;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
}
#studentPortal [containerBulletin] h5 {
  margin-top: 30px;
}
#studentPortal #pagina {
  background-color: #f9f8f8 !important;
}

#admin #pagina .table-striped > tbody > tr:nth-child(2n+1) > td,
#admin #pagina .table-striped > tbody > tr:nth-child(2n+1) > th,
#teacherPortal #pagina .table-striped > tbody > tr:nth-child(2n+1) > td,
#teacherPortal #pagina .table-striped > tbody > tr:nth-child(2n+1) > th,
#studentPortal #pagina .table-striped > tbody > tr:nth-child(2n+1) > td,
#studentPortal #pagina .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #F4F6F6;
}
#admin #pagina #table-bulletin-print thead,
#teacherPortal #pagina #table-bulletin-print thead,
#studentPortal #pagina #table-bulletin-print thead {
  background: #E8F0FE;
}
#admin #pagina span.box-icon,
#teacherPortal #pagina span.box-icon,
#studentPortal #pagina span.box-icon {
  width: 30px;
  display: inline-block;
}
#admin #pagina .limited-text-description,
#teacherPortal #pagina .limited-text-description,
#studentPortal #pagina .limited-text-description {
  max-width: 50ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#admin #pagina section#home .card,
#teacherPortal #pagina section#home .card,
#studentPortal #pagina section#home .card {
  border-radius: 5px;
}
#admin #pagina section#home .card td,
#teacherPortal #pagina section#home .card td,
#studentPortal #pagina section#home .card td {
  font-size: 12px;
  font-family: Semi-bold;
  vertical-align: middle;
}
#admin #pagina section#home .card .miniature-photo,
#teacherPortal #pagina section#home .card .miniature-photo,
#studentPortal #pagina section#home .card .miniature-photo {
  height: 30px;
  width: 30px;
}
#admin #pagina section#home .card .card-title,
#teacherPortal #pagina section#home .card .card-title,
#studentPortal #pagina section#home .card .card-title {
  font-size: 13px;
  color: #506177;
}
#admin #pagina section#home .card .total-student-enrolled,
#teacherPortal #pagina section#home .card .total-student-enrolled,
#studentPortal #pagina section#home .card .total-student-enrolled {
  font-size: 16px;
  font-family: Bold;
}
#admin #pagina section#home .card .total-students-enrolled-today,
#teacherPortal #pagina section#home .card .total-students-enrolled-today,
#studentPortal #pagina section#home .card .total-students-enrolled-today {
  font-size: 14px;
  color: #28A745;
  font-family: Semi-bold;
}
#admin #pagina section#home .recently-enrolled,
#teacherPortal #pagina section#home .recently-enrolled,
#studentPortal #pagina section#home .recently-enrolled {
  height: 65.4vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#admin #pagina section#home .recent-activities,
#teacherPortal #pagina section#home .recent-activities,
#studentPortal #pagina section#home .recent-activities {
  height: 79vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#admin #pagina section#home .recent-activities .teacher-name,
#teacherPortal #pagina section#home .recent-activities .teacher-name,
#studentPortal #pagina section#home .recent-activities .teacher-name {
  font-family: Bold;
  font-size: 13px;
}
#admin #pagina section#home .recent-activities .badge,
#teacherPortal #pagina section#home .recent-activities .badge,
#studentPortal #pagina section#home .recent-activities .badge {
  font-size: 11px;
}
#admin #pagina section#home .recent-activities p,
#teacherPortal #pagina section#home .recent-activities p,
#studentPortal #pagina section#home .recent-activities p {
  font-family: Semi-bold;
  font-size: 12px;
}
#admin #pagina #profileClassModal #note-table-class td,
#admin #pagina #profileClassModal #note-table-class th,
#teacherPortal #pagina #profileClassModal #note-table-class td,
#teacherPortal #pagina #profileClassModal #note-table-class th,
#studentPortal #pagina #profileClassModal #note-table-class td,
#studentPortal #pagina #profileClassModal #note-table-class th {
  text-align: left;
  font-size: 13px;
}
#admin #pagina #note-table td,
#admin #pagina #note-table th,
#teacherPortal #pagina #note-table td,
#teacherPortal #pagina #note-table th,
#studentPortal #pagina #note-table td,
#studentPortal #pagina #note-table th {
  text-align: left;
}
#admin #pagina .text-description,
#teacherPortal #pagina .text-description,
#studentPortal #pagina .text-description {
  font-family: Semi-bold;
  font-size: 13px;
}
#admin #pagina nav#studentPortalNavbar,
#teacherPortal #pagina nav#studentPortalNavbar,
#studentPortal #pagina nav#studentPortalNavbar {
  border-bottom: 1px solid #e5e5e5;
  color: #8B8E90;
  background-color: white;
  font-family: Bold;
  font-size: 13px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
#admin #pagina nav#studentPortalNavbar img,
#teacherPortal #pagina nav#studentPortalNavbar img,
#studentPortal #pagina nav#studentPortalNavbar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-position: top;
  object-fit: cover;
  cursor: pointer;
}
#admin #pagina nav#studentPortalNavbar .fa-th,
#teacherPortal #pagina nav#studentPortalNavbar .fa-th,
#studentPortal #pagina nav#studentPortalNavbar .fa-th {
  color: #8B8E90;
  font-size: 25px;
  margin-right: 30px;
}
#admin #pagina nav#studentPortalNavbar a,
#teacherPortal #pagina nav#studentPortalNavbar a,
#studentPortal #pagina nav#studentPortalNavbar a {
  color: #8B8E90;
  padding: 5px 25px;
}
#admin #pagina nav#studentPortalNavbar .navbar-brand,
#teacherPortal #pagina nav#studentPortalNavbar .navbar-brand,
#studentPortal #pagina nav#studentPortalNavbar .navbar-brand {
  font-family: Bold;
  font-size: 14px;
}
#admin #pagina nav#studentPortalNavbar [aria-expanded=true],
#teacherPortal #pagina nav#studentPortalNavbar [aria-expanded=true],
#studentPortal #pagina nav#studentPortalNavbar [aria-expanded=true] {
  color: #363C90;
  border-bottom: 2px solid #363C90;
}
#admin #pagina #profileStudentModal #table-bulletin,
#teacherPortal #pagina #profileStudentModal #table-bulletin,
#studentPortal #pagina #profileStudentModal #table-bulletin {
  font-size: 13px;
  width: 1000px;
  font-family: Bold;
}
#admin #pagina #profileStudentModal #table-bulletin th,
#teacherPortal #pagina #profileStudentModal #table-bulletin th,
#studentPortal #pagina #profileStudentModal #table-bulletin th {
  color: black;
}
#admin #pagina .main-container,
#teacherPortal #pagina .main-container,
#studentPortal #pagina .main-container {
  margin-top: 80px;
}
#admin #pagina .side-exams::-webkit-scrollbar,
#admin #pagina .side-mural::-webkit-scrollbar,
#admin #pagina .side-students::-webkit-scrollbar,
#admin #pagina .side-teachers::-webkit-scrollbar,
#admin #pagina .recent-activities::-webkit-scrollbar,
#admin #pagina .recently-enrolled::-webkit-scrollbar,
#admin #pagina .main-content::-webkit-scrollbar,
#admin #pagina .container-list-group::-webkit-scrollbar,
#teacherPortal #pagina .side-exams::-webkit-scrollbar,
#teacherPortal #pagina .side-mural::-webkit-scrollbar,
#teacherPortal #pagina .side-students::-webkit-scrollbar,
#teacherPortal #pagina .side-teachers::-webkit-scrollbar,
#teacherPortal #pagina .recent-activities::-webkit-scrollbar,
#teacherPortal #pagina .recently-enrolled::-webkit-scrollbar,
#teacherPortal #pagina .main-content::-webkit-scrollbar,
#teacherPortal #pagina .container-list-group::-webkit-scrollbar,
#studentPortal #pagina .side-exams::-webkit-scrollbar,
#studentPortal #pagina .side-mural::-webkit-scrollbar,
#studentPortal #pagina .side-students::-webkit-scrollbar,
#studentPortal #pagina .side-teachers::-webkit-scrollbar,
#studentPortal #pagina .recent-activities::-webkit-scrollbar,
#studentPortal #pagina .recently-enrolled::-webkit-scrollbar,
#studentPortal #pagina .main-content::-webkit-scrollbar,
#studentPortal #pagina .container-list-group::-webkit-scrollbar {
  width: 10px;
}
#admin #pagina .side-exams::-webkit-scrollbar-track,
#admin #pagina .side-mural::-webkit-scrollbar-track,
#admin #pagina .side-students::-webkit-scrollbar-track,
#admin #pagina .side-teachers::-webkit-scrollbar-track,
#admin #pagina .recent-activities::-webkit-scrollbar-track,
#admin #pagina .recently-enrolled::-webkit-scrollbar-track,
#admin #pagina .main-content::-webkit-scrollbar-track,
#admin #pagina .container-list-group::-webkit-scrollbar-track,
#teacherPortal #pagina .side-exams::-webkit-scrollbar-track,
#teacherPortal #pagina .side-mural::-webkit-scrollbar-track,
#teacherPortal #pagina .side-students::-webkit-scrollbar-track,
#teacherPortal #pagina .side-teachers::-webkit-scrollbar-track,
#teacherPortal #pagina .recent-activities::-webkit-scrollbar-track,
#teacherPortal #pagina .recently-enrolled::-webkit-scrollbar-track,
#teacherPortal #pagina .main-content::-webkit-scrollbar-track,
#teacherPortal #pagina .container-list-group::-webkit-scrollbar-track,
#studentPortal #pagina .side-exams::-webkit-scrollbar-track,
#studentPortal #pagina .side-mural::-webkit-scrollbar-track,
#studentPortal #pagina .side-students::-webkit-scrollbar-track,
#studentPortal #pagina .side-teachers::-webkit-scrollbar-track,
#studentPortal #pagina .recent-activities::-webkit-scrollbar-track,
#studentPortal #pagina .recently-enrolled::-webkit-scrollbar-track,
#studentPortal #pagina .main-content::-webkit-scrollbar-track,
#studentPortal #pagina .container-list-group::-webkit-scrollbar-track {
  background-color: #F9EBEA;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#admin #pagina .side-exams::-webkit-scrollbar-thumb,
#admin #pagina .side-mural::-webkit-scrollbar-thumb,
#admin #pagina .side-students::-webkit-scrollbar-thumb,
#admin #pagina .side-teachers::-webkit-scrollbar-thumb,
#admin #pagina .recent-activities::-webkit-scrollbar-thumb,
#admin #pagina .recently-enrolled::-webkit-scrollbar-thumb,
#admin #pagina .main-content::-webkit-scrollbar-thumb,
#admin #pagina .container-list-group::-webkit-scrollbar-thumb,
#teacherPortal #pagina .side-exams::-webkit-scrollbar-thumb,
#teacherPortal #pagina .side-mural::-webkit-scrollbar-thumb,
#teacherPortal #pagina .side-students::-webkit-scrollbar-thumb,
#teacherPortal #pagina .side-teachers::-webkit-scrollbar-thumb,
#teacherPortal #pagina .recent-activities::-webkit-scrollbar-thumb,
#teacherPortal #pagina .recently-enrolled::-webkit-scrollbar-thumb,
#teacherPortal #pagina .main-content::-webkit-scrollbar-thumb,
#teacherPortal #pagina .container-list-group::-webkit-scrollbar-thumb,
#studentPortal #pagina .side-exams::-webkit-scrollbar-thumb,
#studentPortal #pagina .side-mural::-webkit-scrollbar-thumb,
#studentPortal #pagina .side-students::-webkit-scrollbar-thumb,
#studentPortal #pagina .side-teachers::-webkit-scrollbar-thumb,
#studentPortal #pagina .recent-activities::-webkit-scrollbar-thumb,
#studentPortal #pagina .recently-enrolled::-webkit-scrollbar-thumb,
#studentPortal #pagina .main-content::-webkit-scrollbar-thumb,
#studentPortal #pagina .container-list-group::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ACBECC;
}
#admin #pagina #mural h5,
#teacherPortal #pagina #mural h5,
#studentPortal #pagina #mural h5 {
  font-size: 16px;
}
#admin #pagina #mural .main-content,
#teacherPortal #pagina #mural .main-content,
#studentPortal #pagina #mural .main-content {
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 10px;
}
#admin #pagina #mural .side-exams,
#teacherPortal #pagina #mural .side-exams,
#studentPortal #pagina #mural .side-exams {
  height: 78vh;
  width: 400px;
  font-family: Bold;
  font-size: 11px;
  background-color: transparent;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
#admin #pagina #mural .side-exams .miniature-photo,
#teacherPortal #pagina #mural .side-exams .miniature-photo,
#studentPortal #pagina #mural .side-exams .miniature-photo {
  width: 30px;
  height: 30px;
  border: 2px solid white;
}
#admin #pagina #mural .side-exams .exam-description,
#teacherPortal #pagina #mural .side-exams .exam-description,
#studentPortal #pagina #mural .side-exams .exam-description {
  margin-top: 12px;
}
#admin #pagina #mural .side-exams .exam-description-footer,
#teacherPortal #pagina #mural .side-exams .exam-description-footer,
#studentPortal #pagina #mural .side-exams .exam-description-footer {
  margin-top: 10px;
  color: #080809;
}
#admin #pagina #mural .side-exams .name-teacher,
#teacherPortal #pagina #mural .side-exams .name-teacher,
#studentPortal #pagina #mural .side-exams .name-teacher {
  font-size: 13px;
  color: #506177;
}
#admin #pagina #mural .side-mural,
#teacherPortal #pagina #mural .side-mural,
#studentPortal #pagina #mural .side-mural {
  overflow-y: scroll;
  height: 78vh;
  border-radius: 10px;
  margin-bottom: 20px;
}
#admin #pagina #statistics .side-students,
#admin #pagina #statistics .side-teachers,
#teacherPortal #pagina #statistics .side-students,
#teacherPortal #pagina #statistics .side-teachers,
#studentPortal #pagina #statistics .side-students,
#studentPortal #pagina #statistics .side-teachers {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}
#admin #pagina #statistics .side-students h5,
#admin #pagina #statistics .side-teachers h5,
#teacherPortal #pagina #statistics .side-students h5,
#teacherPortal #pagina #statistics .side-teachers h5,
#studentPortal #pagina #statistics .side-students h5,
#studentPortal #pagina #statistics .side-teachers h5 {
  margin-left: 3vw;
  margin-top: 15px;
}
#admin #pagina .miniature-photo,
#teacherPortal #pagina .miniature-photo,
#studentPortal #pagina .miniature-photo {
  width: 40px;
  height: 40px;
  object-position: top;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}
#admin #pagina #navbarBottom,
#teacherPortal #pagina #navbarBottom,
#studentPortal #pagina #navbarBottom {
  display: none;
}
#admin #pagina .school-term-active,
#teacherPortal #pagina .school-term-active,
#studentPortal #pagina .school-term-active {
  border-left: 8px solid #28A745;
}
#admin #pagina .school-term-finished,
#teacherPortal #pagina .school-term-finished,
#studentPortal #pagina .school-term-finished {
  border-left: 8px solid #e5e5e5;
}
#admin #pagina .school-term-scheduled,
#teacherPortal #pagina .school-term-scheduled,
#studentPortal #pagina .school-term-scheduled {
  border-left: 8px solid #363C90;
}
#admin #pagina .option-icon-group span,
#teacherPortal #pagina .option-icon-group span,
#studentPortal #pagina .option-icon-group span {
  transition: 0.5s;
}
#admin #pagina .registration-in-stages label,
#teacherPortal #pagina .registration-in-stages label,
#studentPortal #pagina .registration-in-stages label {
  text-align: left;
  display: block;
}
#admin #pagina .registration-in-stages form [data-toggle=collapse],
#teacherPortal #pagina .registration-in-stages form [data-toggle=collapse],
#studentPortal #pagina .registration-in-stages form [data-toggle=collapse] {
  background-color: #363C90;
}
#admin #pagina .registration-in-stages form [data-toggle=collapse] .fa-angle-right,
#teacherPortal #pagina .registration-in-stages form [data-toggle=collapse] .fa-angle-right,
#studentPortal #pagina .registration-in-stages form [data-toggle=collapse] .fa-angle-right {
  margin-left: 10px;
}
#admin #pagina .registration-in-stages .connection-line,
#teacherPortal #pagina .registration-in-stages .connection-line,
#studentPortal #pagina .registration-in-stages .connection-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 6vh;
  height: 3px;
  margin: auto;
  width: 75%;
  background-color: #e4d9ff;
}
#admin #pagina .registration-in-stages .registration-header-by-step .row,
#teacherPortal #pagina .registration-in-stages .registration-header-by-step .row,
#studentPortal #pagina .registration-in-stages .registration-header-by-step .row {
  display: flex;
  justify-content: space-around;
}
#admin #pagina .registration-in-stages .registration-header-by-step .row .container-option,
#teacherPortal #pagina .registration-in-stages .registration-header-by-step .row .container-option,
#studentPortal #pagina .registration-in-stages .registration-header-by-step .row .container-option {
  z-index: 2;
}
#admin #pagina .registration-in-stages .registration-header-by-step .row .container-option > .collapsed,
#teacherPortal #pagina .registration-in-stages .registration-header-by-step .row .container-option > .collapsed,
#studentPortal #pagina .registration-in-stages .registration-header-by-step .row .container-option > .collapsed {
  background-color: #e4d9ff;
  color: #080809;
}
#admin #pagina .registration-in-stages .registration-header-by-step .row .container-option a,
#teacherPortal #pagina .registration-in-stages .registration-header-by-step .row .container-option a,
#studentPortal #pagina .registration-in-stages .registration-header-by-step .row .container-option a {
  color: white;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin: auto;
  background-color: #363C90;
  border-radius: 50%;
}
#admin #pagina .registration-in-stages .registration-header-by-step .row .container-option a span,
#teacherPortal #pagina .registration-in-stages .registration-header-by-step .row .container-option a span,
#studentPortal #pagina .registration-in-stages .registration-header-by-step .row .container-option a span {
  text-align: center;
  font-weight: 500;
}
#admin #pagina .registration-in-stages .registration-header-by-step .row .container-option p,
#teacherPortal #pagina .registration-in-stages .registration-header-by-step .row .container-option p,
#studentPortal #pagina .registration-in-stages .registration-header-by-step .row .container-option p {
  display: block;
  color: #080809;
  font-weight: 500;
  margin-top: 5px;
  font-size: 13px;
}
#admin #pagina #teacher-registration .connection-line,
#teacherPortal #pagina #teacher-registration .connection-line,
#studentPortal #pagina #teacher-registration .connection-line {
  width: 68%;
}
#admin #pagina .accordion-container,
#teacherPortal #pagina .accordion-container,
#studentPortal #pagina .accordion-container {
  height: 87vh;
}
#admin #pagina .accordion-container::-webkit-scrollbar,
#teacherPortal #pagina .accordion-container::-webkit-scrollbar,
#studentPortal #pagina .accordion-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#admin #pagina #tableListExam,
#teacherPortal #pagina #tableListExam,
#studentPortal #pagina #tableListExam {
  font-size: 15px;
}
#admin #pagina #tableListExam td,
#admin #pagina #tableListExam th,
#teacherPortal #pagina #tableListExam td,
#teacherPortal #pagina #tableListExam th,
#studentPortal #pagina #tableListExam td,
#studentPortal #pagina #tableListExam th {
  margin: 3px;
  text-align: left;
}
#admin #pagina #seekNoteExam a,
#teacherPortal #pagina #seekNoteExam a,
#studentPortal #pagina #seekNoteExam a {
  border: 1px solid #e5e5e5;
}
#admin #pagina .collapse-options-container,
#teacherPortal #pagina .collapse-options-container,
#studentPortal #pagina .collapse-options-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-right: 1px;
}
#admin #pagina .collapse-options-container span,
#teacherPortal #pagina .collapse-options-container span,
#studentPortal #pagina .collapse-options-container span {
  cursor: pointer;
  color: none;
  border-radius: 5px;
  background: #ffffff;
  padding: 10px;
  transition: all 0.2s ease;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  border: 1px solid #e5e5e5;
  color: #506177;
}
#admin #pagina .collapse-options-container span:hover,
#teacherPortal #pagina .collapse-options-container span:hover,
#studentPortal #pagina .collapse-options-container span:hover {
  color: #ffffff;
  background-color: #363C90;
}
#admin #pagina .collapse-options-container span:hover .fa-edit,
#admin #pagina .collapse-options-container span:hover .fa-print,
#admin #pagina .collapse-options-container span:hover .fa-check,
#admin #pagina .collapse-options-container span:hover .fa-ban,
#admin #pagina .collapse-options-container span:hover .fa-boxes,
#admin #pagina .collapse-options-container span:hover .fa-plus-circle,
#teacherPortal #pagina .collapse-options-container span:hover .fa-edit,
#teacherPortal #pagina .collapse-options-container span:hover .fa-print,
#teacherPortal #pagina .collapse-options-container span:hover .fa-check,
#teacherPortal #pagina .collapse-options-container span:hover .fa-ban,
#teacherPortal #pagina .collapse-options-container span:hover .fa-boxes,
#teacherPortal #pagina .collapse-options-container span:hover .fa-plus-circle,
#studentPortal #pagina .collapse-options-container span:hover .fa-edit,
#studentPortal #pagina .collapse-options-container span:hover .fa-print,
#studentPortal #pagina .collapse-options-container span:hover .fa-check,
#studentPortal #pagina .collapse-options-container span:hover .fa-ban,
#studentPortal #pagina .collapse-options-container span:hover .fa-boxes,
#studentPortal #pagina .collapse-options-container span:hover .fa-plus-circle {
  color: #ffffff;
}
#admin #pagina .collapse-options-container [aria-expanded=true] span,
#teacherPortal #pagina .collapse-options-container [aria-expanded=true] span,
#studentPortal #pagina .collapse-options-container [aria-expanded=true] span {
  background: #363C90;
  color: #ffffff;
  border: none;
}
#admin #pagina .horizontal-control-list,
#teacherPortal #pagina .horizontal-control-list,
#studentPortal #pagina .horizontal-control-list {
  background-color: #e5e5e5;
  margin: 10px;
  display: none;
}
#admin #pagina .horizontal-control-list .list-group-item,
#teacherPortal #pagina .horizontal-control-list .list-group-item,
#studentPortal #pagina .horizontal-control-list .list-group-item {
  border: 0px;
  padding: 10px;
}
#admin #pagina .horizontal-control-list a,
#teacherPortal #pagina .horizontal-control-list a,
#studentPortal #pagina .horizontal-control-list a {
  font-size: 2vw;
}
#admin #pagina .horizontal-control-list [aria-expanded=true],
#teacherPortal #pagina .horizontal-control-list [aria-expanded=true],
#studentPortal #pagina .horizontal-control-list [aria-expanded=true] {
  background: #363C90;
  border-radius: 5px;
  color: #ffffff;
}
#admin #pagina .horizontal-control-list [aria-expanded=true] a,
#teacherPortal #pagina .horizontal-control-list [aria-expanded=true] a,
#studentPortal #pagina .horizontal-control-list [aria-expanded=true] a {
  color: #ffffff;
  font-weight: bold;
}
#admin #pagina .horizontal-control-list [aria-expanded=false],
#teacherPortal #pagina .horizontal-control-list [aria-expanded=false],
#studentPortal #pagina .horizontal-control-list [aria-expanded=false] {
  background: #e5e5e5;
  border-radius: 5px;
  color: #080809;
}
#admin #pagina .horizontal-control-list [aria-expanded=false] a,
#teacherPortal #pagina .horizontal-control-list [aria-expanded=false] a,
#studentPortal #pagina .horizontal-control-list [aria-expanded=false] a {
  color: #080809;
  font-weight: bold;
}
#admin #pagina .gif-loading img,
#teacherPortal #pagina .gif-loading img,
#studentPortal #pagina .gif-loading img {
  width: 20%;
}
#admin #pagina #toastContainer,
#teacherPortal #pagina #toastContainer,
#studentPortal #pagina #toastContainer {
  position: fixed;
  right: 15px;
  bottom: 0;
  max-width: 40vw;
}
#admin #pagina .toast,
#teacherPortal #pagina .toast,
#studentPortal #pagina .toast {
  border-radius: 15px;
  background-color: transparent !important;
  position: absolute;
  z-index: 100000000;
}
#admin #pagina .toast .toast-header,
#teacherPortal #pagina .toast .toast-header,
#studentPortal #pagina .toast .toast-header {
  border-radius: 5px;
  padding: 10px 15px;
}
#admin #pagina .breadcrumb,
#teacherPortal #pagina .breadcrumb,
#studentPortal #pagina .breadcrumb {
  background-color: transparent;
  margin-top: -10px;
}
#admin #pagina .breadcrumb .breadcrumb-item,
#teacherPortal #pagina .breadcrumb .breadcrumb-item,
#studentPortal #pagina .breadcrumb .breadcrumb-item {
  font-weight: bold;
  font-size: 14px;
}
#admin #pagina [containerRegistrationSuccess],
#admin #pagina [containerRegistrationError],
#teacherPortal #pagina [containerRegistrationSuccess],
#teacherPortal #pagina [containerRegistrationError],
#studentPortal #pagina [containerRegistrationSuccess],
#studentPortal #pagina [containerRegistrationError] {
  display: none;
}

#login .container-login {
  border-radius: 15px;
  margin-top: 40px;
  background-image: linear-gradient(to bottom, #363C90 0, #363C90 50%, white 50%);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  height: 86.4vh;
}
#login .container-login .sidebar-primary {
  background-color: #363C90;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 50px;
}
#login .container-login .sidebar-secondary {
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 50px;
  border-top-right-radius: 15px;
}
#login .container-login .sidebar-secondary form {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 5px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 80px;
  margin-top: 80px;
}
#login .container-login .sidebar-secondary form .form-control:focus {
  border: none;
  border-bottom: 2px solid #363C90;
  box-shadow: none;
  transition: all 0.6s ease;
}
#login .container-login .sidebar-secondary form input {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #e4d9ff;
}
#login .container-login .sidebar-secondary form h5 {
  color: #506177;
  font-size: 20px;
  margin-left: 20px;
  padding: 15px;
}
#login .container-login .sidebar-secondary form label {
  font-weight: bold;
  font-size: 17px;
}
#login .container-login .sidebar-secondary form .form-body {
  background-color: white;
  border-radius: 25px;
  padding: 20px 15px;
}
#login .container-login .sidebar-secondary form .form-body button {
  background-color: #363C90;
  font-weight: bold;
  color: white;
}

@media (max-width: 576px) {
  body#admin .panel-side,
body#teacherPortal .panel-side {
    display: none;
  }
  body#admin .panel-side #left-panel #sidebar,
body#teacherPortal .panel-side #left-panel #sidebar {
    z-index: 100000000;
    overflow: hidden;
    width: 60vw;
  }
  body#admin .panel-side #left-panel #sidebar i.fas,
body#teacherPortal .panel-side #left-panel #sidebar i.fas {
    margin-right: 15px;
  }
  body#admin .panel-side #left-panel #sidebar .sidebar-header span,
body#teacherPortal .panel-side #left-panel #sidebar .sidebar-header span {
    position: absolute;
    display: block;
    left: 15;
    margin-top: 5px;
  }
  body#admin #pagina div.option-icon-group span,
body#teacherPortal #pagina div.option-icon-group span {
    margin-top: 15px;
  }
  body#admin #pagina .main-container,
body#teacherPortal #pagina .main-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  body#admin #pagina form,
body#teacherPortal #pagina form {
    font-size: 4vw;
  }
  body#admin #pagina .page-header h5,
body#teacherPortal #pagina .page-header h5 {
    font-size: 4vw;
  }
  body#admin #pagina .page-header .collapse-options-container span,
body#teacherPortal #pagina .page-header .collapse-options-container span {
    margin-bottom: 10px;
    margin-top: 20px;
    display: inline-block;
    font-size: 3vw !important;
  }
  body#admin #pagina #navbar-top .navbar-toggler .fa-bars,
body#teacherPortal #pagina #navbar-top .navbar-toggler .fa-bars {
    font-size: 20px;
  }
  body#admin #pagina #navbar-top #bars,
body#teacherPortal #pagina #navbar-top #bars {
    display: none;
  }
  body#admin #pagina #navbar-top a.bars-xs,
body#teacherPortal #pagina #navbar-top a.bars-xs {
    display: block;
  }
  body#admin #pagina #navbar-top .navbar-toggler,
body#teacherPortal #pagina #navbar-top .navbar-toggler {
    display: none;
  }
  body#admin #pagina #navbar-top .navbar-nav,
body#teacherPortal #pagina #navbar-top .navbar-nav {
    display: none;
  }
  body#admin #pagina section#list-students table,
body#teacherPortal #pagina section#list-students table {
    width: 800px;
  }
  body#admin #pagina #navbarBottom,
body#teacherPortal #pagina #navbarBottom {
    display: block;
    border-top-right-radius: 15px;
    padding: 2px;
    border-top-left-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 -2px 2px -2px #333;
    display: flex;
    justify-content: center;
  }
  body#admin #pagina #navbarBottom ul,
body#teacherPortal #pagina #navbarBottom ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
  }
  body#admin #pagina #navbarBottom ul i.fas,
body#admin #pagina #navbarBottom ul i.bi,
body#teacherPortal #pagina #navbarBottom ul i.fas,
body#teacherPortal #pagina #navbarBottom ul i.bi {
    font-size: 18px;
    color: #506177;
  }
  body#admin #pagina section#discipline table,
body#teacherPortal #pagina section#discipline table {
    width: 600px;
  }
  body#admin #pagina section#class table,
body#teacherPortal #pagina section#class table {
    width: 600px;
  }
  body#admin #pagina #main-accordion-class,
body#admin #pagina #main-accordion-student,
body#teacherPortal #pagina #main-accordion-class,
body#teacherPortal #pagina #main-accordion-student {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
  }
  body#admin #pagina #main-accordion-class .row.card,
body#admin #pagina #main-accordion-student .row.card,
body#teacherPortal #pagina #main-accordion-class .row.card,
body#teacherPortal #pagina #main-accordion-student .row.card {
    box-shadow: none;
    border: none;
  }
  body#admin #pagina .modal-profile,
body#teacherPortal #pagina .modal-profile {
    overflow-y: auto;
  }
  body#admin #pagina .modal-profile table,
body#teacherPortal #pagina .modal-profile table {
    width: 200px;
  }
  body#admin #pagina .modal-profile table td,
body#teacherPortal #pagina .modal-profile table td {
    font-size: 3vw;
  }
  body#admin #pagina .modal-profile .modal-sidebar img,
body#teacherPortal #pagina .modal-profile .modal-sidebar img {
    width: 25vw;
    height: 25vw;
    margin-bottom: 5px;
  }
  body#admin #pagina .modal-profile .main-sheet,
body#teacherPortal #pagina .modal-profile .main-sheet {
    order: 1;
    display: flex;
    border-radius: 10px;
    background-color: #E5E7E9;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  body#admin #pagina .modal-profile .main-sheet span,
body#teacherPortal #pagina .modal-profile .main-sheet span {
    font-size: 2.5vw;
    color: #506177;
  }
  body#admin #pagina .modal-profile h5,
body#teacherPortal #pagina .modal-profile h5 {
    font-size: 4vw;
  }
  body#admin #pagina .modal-profile .container-list-group,
body#teacherPortal #pagina .modal-profile .container-list-group {
    order: 2;
    padding: 5px;
    overflow: auto;
    display: block;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    border-radius: 0px;
    padding-bottom: 0;
  }
  body#admin #pagina .modal-profile .container-list-group nav,
body#teacherPortal #pagina .modal-profile .container-list-group nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 450px;
    padding: 10px;
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 0;
  }
  body#admin #pagina .modal-profile .container-list-group nav ul,
body#teacherPortal #pagina .modal-profile .container-list-group nav ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }
  body#admin #pagina .modal-profile .container-list-group nav ul a,
body#teacherPortal #pagina .modal-profile .container-list-group nav ul a {
    margin-bottom: 0;
    border-bottom: 2px solid white;
    border-radius: 0px;
    font-size: 2.5vw;
  }
  body#admin #pagina .modal-profile .container-list-group nav ul [aria-expanded=true],
body#teacherPortal #pagina .modal-profile .container-list-group nav ul [aria-expanded=true] {
    border-bottom: 2px solid #363C90;
    background-color: transparent;
    color: #506177;
  }
  body#admin #pagina .modal-profile .collapse-options-container,
body#teacherPortal #pagina .modal-profile .collapse-options-container {
    margin-top: 20px;
    font-size: 10px;
  }
  body#admin #pagina .modal-profile .collapse-options-container span,
body#teacherPortal #pagina .modal-profile .collapse-options-container span {
    font-size: 2vw;
  }
  body#admin #pagina .modal-profile .main-content,
body#teacherPortal #pagina .modal-profile .main-content {
    margin-bottom: 20px;
  }
  body#admin #pagina .modal-profile .main-content .row:nth-child(1),
body#teacherPortal #pagina .modal-profile .main-content .row:nth-child(1) {
    margin-top: 10px;
  }
  body#admin #pagina .modal-profile .modal-sidebar,
body#teacherPortal #pagina .modal-profile .modal-sidebar {
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #e5e5e5;
    background-color: white;
    box-shadow: none;
    height: 50vh;
  }
  body#admin #pagina #student-registration .registration-in-stages .connection-line,
body#teacherPortal #pagina #student-registration .registration-in-stages .connection-line {
    width: 80vw;
  }
  body#admin #pagina #student-registration .registration-in-stages .registration-header-by-step,
body#teacherPortal #pagina #student-registration .registration-in-stages .registration-header-by-step {
    overflow: auto;
    display: block;
  }
  body#admin #pagina #student-registration .registration-in-stages .registration-header-by-step .row,
body#teacherPortal #pagina #student-registration .registration-in-stages .registration-header-by-step .row {
    width: 600px;
    display: flex;
    justify-content: space-around;
  }
  body#admin #pagina #profileStudentModal .container-list-group nav,
body#teacherPortal #pagina #profileStudentModal .container-list-group nav {
    width: 800px;
  }
  body#admin #pagina #profileStudentModal .container-list-group nav ul a,
body#teacherPortal #pagina #profileStudentModal .container-list-group nav ul a {
    border-left: none;
  }
  body#admin #pagina #profileStudentModal .container-list-group nav ul [aria-expanded=true],
body#teacherPortal #pagina #profileStudentModal .container-list-group nav ul [aria-expanded=true] {
    border-left: none;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  body {
    font-size: 2vh;
    width: 100%;
  }
  body #painel-left {
    z-index: 120000000;
  }
  body .panel-side {
    display: none;
  }
  body .panel-side-xs {
    display: block;
  }
  body .panel-side-xs #painel-left > .side-bar {
    width: 40%;
    margin-left: 190px;
  }
  body .panel-side-xs #painel-left > .side-bar li:nth-child(2) {
    display: block;
  }
  body .panel-side-xs #painel-left > .side-bar .bars-xs {
    color: #ffffff;
  }
  body .panel-side-xs #painel-left > .side-bar img {
    width: 80%;
  }
  body .panel-side-xs #painel-left > .side-bar .fa-angle-down {
    display: none;
  }
  body .panel-side-xs #painel-left > .side-bar h5 {
    font-size: 2vw;
  }
  body .panel-side-xs #painel-left > .side-bar li,
body .panel-side-xs #painel-left > .side-bar h5 {
    margin-left: 2vw;
    margin-top: 15px;
  }
  body .panel-side-xs #painel-left > .side-bar .link-collapse a,
body .panel-side-xs #painel-left > .side-bar .collapse li a {
    font-size: 2vw;
    font-weight: 500;
  }
  body .panel-side-xs #painel-left > .side-bar .collapse li {
    border-left: 5px solid #ffffff;
    margin-top: 0px;
  }
  body #navbar-top #bars {
    display: none;
  }
  body #navbar-top a.bars-xs {
    display: block;
  }
  body #navbar-top .navbar-toggler {
    display: none;
  }
  body #pagina table {
    width: 700px;
  }
  body #pagina .modal-profile .horizontal-control-list {
    display: flex;
  }
  body #pagina .modal-profile .collapse-options-container {
    margin-top: 20px;
  }
  body #pagina .modal-profile .side-collapse-options {
    display: none;
  }
  body #pagina .modal-profile .accordion-container {
    overflow: auto;
    height: 520px;
    width: 70vw;
    margin: auto;
  }
  body #pagina .modal-profile .modal-content {
    width: 570px;
    margin: auto;
    margin-top: 10px;
    margin-left: -2.2vw;
    height: 100%;
    overflow: auto;
  }
  body #pagina .modal-profile .option-list {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px 15px 0px;
  }
}
@media (max-width: 992px) and (min-width: 779px) {
  body #painel-left {
    z-index: 1200000000;
  }
  body #painel-left .side-bar {
    width: 25%;
  }
  body #painel-left .side-bar li {
    font-size: 1.5vw;
  }
  body #painel-left .side-bar .fa-angle-down {
    display: none;
  }
  body .side-panel {
    display: block;
  }
}
@media (min-width: 1400px) {
  body #navbar-top #bars {
    display: block;
    margin-left: 17vw;
  }
  body #navbar-top .navbar-toggler {
    display: none;
  }
}
#navbar-top {
  background-color: #ffffff;
  transition: 0.7s;
  position: fixed;
  z-index: 3;
  padding: 15px;
}
#navbar-top .navbar-brand {
  font-weight: bold;
}
#navbar-top .fa-cog {
  font-size: 20px;
  color: #506177;
}
#navbar-top .fa-bars {
  color: #080809;
}
#navbar-top a.bars-xs {
  display: none;
}
#navbar-top img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-position: top;
  object-fit: cover;
  cursor: pointer;
}
#navbar-top #navbarDropdown {
  color: #506177;
  font-size: 14px;
  font-weight: 500;
}

/*# sourceMappingURL=stylesheet.css.map */
