* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #1e2749;
  transition: 0.6s;
}

html > body {
  background-color: #E3ECF5;
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

h5 {
  color: #1e2749;
  font-family: Bold;
}

label {
  font-size: 15px;
  font-weight: bold;
  color: #283339;
}

input, select {
  border-radius: 10px;
}

table th {
  color: #1e2749;
}
table td {
  line-height: 30px;
  color: #283339;
  font-size: 14px;
  font-weight: 500;
}
table img {
  border-radius: 50%;
  width: 30px;
}
table tr {
  text-align: center;
  cursor: pointer;
}

button {
  outline: none;
}

input:disabled, select:disabled {
  border: none;
}

@font-face {
  font-family: Extra-light;
  src: url(../../../assets/fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: Regular;
  src: url(../../../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Medio;
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Semi-bold;
  src: url(../../../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Bold;
  src: url(../../../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Extra-bold;
  src: url(../../../assets/fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: Supreme-bold;
  src: url(./../../assets/fonts/Montserrat-Black.ttf);
}
#pagina .button-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 7px;
  font-size: 12px;
  border-radius: 15px;
  background-color: blue;
  z-index: 2;
  color: white;
}
#pagina .btn-success {
  background: #2ECC71;
  border: none;
}

#pagina .card-icon {
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(109, 76, 76, 0.06);
  background-color: #325EDE;
}
#pagina .card {
  padding: 15;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(109, 76, 76, 0.06);
  background-color: #ffffff;
  transition: 0.5s;
}
#pagina .card .card-title {
  font-size: 15px;
}
#pagina .card .card-valor {
  font-size: 25px;
}
#pagina .card .card-body {
  padding: 15px;
}
#pagina .editar-dados-icon {
  cursor: pointer;
  color: #283339;
  font-size: 15px;
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(109, 76, 76, 0.06);
  background-color: #e5e5e5;
}
#pagina .editar-dados-icon:hover {
  color: white;
  background-color: #325EDE;
}
#pagina .editar-dados-icon:hover .fa-edit, #pagina .editar-dados-icon:hover .fa-print, #pagina .editar-dados-icon:hover .fa-check, #pagina .editar-dados-icon:hover .fa-ban, #pagina .editar-dados-icon:hover .fa-boxes, #pagina .editar-dados-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .atualizar-dados-icon {
  cursor: pointer;
  color: #283339;
  font-size: 15px;
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(109, 76, 76, 0.06);
  background-color: #e5e5e5;
}
#pagina .atualizar-dados-icon:hover {
  color: white;
  background-color: #2ECC71;
}
#pagina .atualizar-dados-icon:hover .fa-edit, #pagina .atualizar-dados-icon:hover .fa-print, #pagina .atualizar-dados-icon:hover .fa-check, #pagina .atualizar-dados-icon:hover .fa-ban, #pagina .atualizar-dados-icon:hover .fa-boxes, #pagina .atualizar-dados-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .apagar-dados-icon {
  cursor: pointer;
  color: #283339;
  font-size: 15px;
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(109, 76, 76, 0.06);
  background-color: #e5e5e5;
}
#pagina .apagar-dados-icon:hover {
  color: white;
  background-color: #D35400;
}
#pagina .apagar-dados-icon:hover .fa-edit, #pagina .apagar-dados-icon:hover .fa-print, #pagina .apagar-dados-icon:hover .fa-check, #pagina .apagar-dados-icon:hover .fa-ban, #pagina .apagar-dados-icon:hover .fa-boxes, #pagina .apagar-dados-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .items-icon {
  cursor: pointer;
  color: #506177;
  font-size: 15px;
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(109, 76, 76, 0.06);
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}
#pagina .items-icon:hover {
  color: white;
  background-color: #273469;
}
#pagina .items-icon:hover .fa-edit, #pagina .items-icon:hover .fa-print, #pagina .items-icon:hover .fa-check, #pagina .items-icon:hover .fa-ban, #pagina .items-icon:hover .fa-boxes, #pagina .items-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .card-disciplinas {
  background: #e5e5e5;
}
#pagina .card-form {
  padding: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(109, 76, 76, 0.06);
  background-color: #506177;
}
#pagina .card-form label {
  color: white;
}

#navbar-top {
  background-color: #ffffff;
  transition: 0.7s;
  z-index: 1;
}
#navbar-top .navbar-brand {
  font-weight: bold;
}
#navbar-top .fa-bars {
  color: black;
}
#navbar-top .foto-usuario {
  width: 35px;
}
#navbar-top .foto-usuario img {
  width: 100%;
  border-radius: 50%;
}
#navbar-top #navbarDropdown {
  color: #506177;
  font-size: 14px;
  font-weight: 500;
}

#matriculaModal {
  margin-top: 40px;
}
#matriculaModal .modal-header {
  font-weight: bold;
}
#matriculaModal .modal-content {
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
}
#matriculaModal .modal-texto {
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
}
#matriculaModal .modal-aluno-matricular-sucesso .fa-check-circle {
  margin-top: 30px;
  font-size: 100px;
  color: #2ECC71;
  justify-content: space-around;
}
#matriculaModal .modal-aluno-matricular-erro .fa-times-circle {
  margin-top: 30px;
  font-size: 100px;
  color: #D35400;
  justify-content: space-around;
}

.modal-perfil .modal-body > .row:nth-child(1) {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(109, 76, 76, 0.06);
  background-color: #ffffff;
  margin-top: -10px;
}
.modal-perfil .controle-opcoes {
  border-radius: 10px;
  border: 0;
  background: #273469;
}
.modal-perfil .controle-opcoes .list-group {
  margin-top: 20px;
}
.modal-perfil .controle-opcoes .list-group-item {
  border: none;
  background: transparent;
  font-weight: bold;
  margin-bottom: 5px;
}
.modal-perfil .controle-opcoes .list-group-item:hover {
  background: #ffffff;
  border-radius: 10px;
  color: #273469;
}
.modal-perfil .controle-opcoes .list-group-item:hover a {
  color: #273469;
  font-weight: bold;
}
.modal-perfil .controle-opcoes [aria-expanded=true] {
  background: #ffffff;
  border-radius: 10px;
  color: #273469;
}
.modal-perfil .controle-opcoes [aria-expanded=true] a {
  color: #273469;
  font-weight: bold;
}
.modal-perfil .controle-opcoes [aria-expanded=false] {
  background: transparent;
  border-radius: 10px;
  color: #ffffff;
}
.modal-perfil .controle-opcoes [aria-expanded=false] a {
  color: #ffffff;
  font-weight: bold;
}
.modal-perfil .list-group {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.modal-perfil h5 {
  font-size: 17px;
}
.modal-perfil a {
  text-decoration: none;
}
.modal-perfil .fa-edit,
.modal-perfil .fa-check {
  color: #506177;
}
.modal-perfil img {
  border-radius: 50%;
}
.modal-perfil .modal-content {
  margin-left: -415px;
  width: 1350px;
  margin-top: -30px;
  height: 630px;
  background-color: #e5e5e5;
}
.modal-perfil #collapse-perfil-aluno-opcoes-dados b {
  color: #506177;
}
.modal-perfil #collapse-perfil-aluno-opcoes-dados .input-group-prepend span {
  font-weight: bold;
  color: #506177;
}
.modal-perfil #collapse-perfil-aluno-opcoes-dados .input-group-text {
  background-color: #ffffff;
  border: none;
  font-weight: bold;
}
.modal-perfil #collapse-perfil-aluno-opcoes-dados .input-group {
  padding-left: 0;
  margin-bottom: 13px;
}
.modal-perfil #collapse-perfil-aluno-opcoes-dados input:disabled {
  background-color: #ffffff;
  border: none;
  padding-left: 0px;
}
.modal-perfil #collapse-perfil-aluno-opcoes-nota input:disabled {
  background-color: #ffffff;
  border: none;
}
.modal-perfil #collapse-perfil-aluno-opcoes-boletim {
  text-transform: uppercase;
  font-size: 13px;
}
.modal-perfil #collapse-perfil-aluno-opcoes-boletim h5 {
  text-transform: initial;
}
.modal-perfil #collapse-perfil-aluno-opcoes-boletim .imprimir-boletim {
  cursor: pointer;
  color: #506177;
  font-size: 15px;
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(109, 76, 76, 0.06);
  background-color: #e5e5e5;
}
.modal-perfil #collapse-perfil-aluno-opcoes-boletim .imprimir-boletim:hover {
  color: white;
  background-color: #325EDE;
}
.modal-perfil #collapse-perfil-aluno-opcoes-boletim .imprimir-boletim:hover .fa-edit, .modal-perfil #collapse-perfil-aluno-opcoes-boletim .imprimir-boletim:hover .fa-print, .modal-perfil #collapse-perfil-aluno-opcoes-boletim .imprimir-boletim:hover .fa-check, .modal-perfil #collapse-perfil-aluno-opcoes-boletim .imprimir-boletim:hover .fa-ban, .modal-perfil #collapse-perfil-aluno-opcoes-boletim .imprimir-boletim:hover .fa-boxes, .modal-perfil #collapse-perfil-aluno-opcoes-boletim .imprimir-boletim:hover .fa-plus-circle {
  color: #ffffff;
}
.modal-perfil #collapse-perfil-aluno-opcoes-boletim .th-rowspan-2 div {
  margin-top: -50px;
}
.modal-perfil #collapse-perfil-aluno-opcoes-boletim b {
  font-weight: 700;
}
.modal-perfil #collapse-perfil-aluno-opcoes-boletim td,
.modal-perfil #collapse-perfil-aluno-opcoes-boletim th {
  font-size: 13px;
}
.modal-perfil .conteudo-lista-disciplinas [aria-expanded=true] {
  background: #325EDE;
  border-radius: 10px;
  color: #ffffff;
}
.modal-perfil .conteudo-lista-disciplinas [aria-expanded=true] a {
  color: #ffffff;
  font-weight: bold;
}
.modal-perfil .conteudo-lista-disciplinas [aria-expanded=false] {
  background: #e5e5e5;
  border-radius: 10px;
  color: #506177;
}
.modal-perfil .conteudo-lista-disciplinas [aria-expanded=false] a {
  color: #506177;
  font-weight: bold;
}
.modal-perfil .conteudo-lista-disciplinas .icon-unidade {
  border-radius: 30px;
  padding: 10px;
}
.modal-perfil .conteudo-lista-disciplinas .icon-unidade:focus {
  outline: none;
  box-shadow: none;
}
.modal-perfil .lista-disciplinas {
  background: #273469;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  padding: 15px;
  font-size: 14px;
}
.modal-perfil .lista-disciplinas .list-group-item {
  border: none;
  background: transparent;
  font-weight: bold;
  margin-bottom: 5px;
}
.modal-perfil .lista-disciplinas .list-group-item:hover {
  background: #ffffff;
  border-radius: 10px;
  color: #273469;
}
.modal-perfil .lista-disciplinas .list-group-item:hover a {
  color: #273469;
  font-weight: bold;
}
.modal-perfil .lista-disciplinas [aria-selected=true] {
  background: #ffffff;
  border-radius: 10px;
  color: #273469;
}
.modal-perfil .lista-disciplinas [aria-selected=true] a {
  color: #273469;
  font-weight: bold;
}
.modal-perfil .lista-disciplinas [aria-selected=false] {
  background: transparent;
  border-radius: 10px;
  color: #ffffff;
}
.modal-perfil .lista-disciplinas [aria-selected=false] a {
  color: #ffffff;
  font-weight: bold;
}
.modal-perfil .dados-avaliacoes input {
  width: 60px;
  text-align: center;
}
.modal-perfil .dados-avaliacoes td,
.modal-perfil .dados-avaliacoes th {
  line-height: 40px;
  justify-content: center;
  cursor: context-menu;
}
.modal-perfil .unidades [aria-expanded=true] {
  background: #325EDE;
  border-radius: 10px;
  color: #ffffff;
}
.modal-perfil .unidades [aria-expanded=true] a {
  color: #ffffff;
  font-weight: bold;
}
.modal-perfil .unidades [aria-expanded=false] {
  background: #e5e5e5;
  border-radius: 10px;
  color: #283339;
}
.modal-perfil .unidades [aria-expanded=false] a {
  color: #283339;
  font-weight: bold;
}

#disciplinaModal .modal-content {
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
}

#pagina .was-validated .form-control:valid {
  border: 1px solid #2ECC71;
}
#pagina .was-validated .form-control:invalid {
  border: 1.5px solid #F2DCD6;
}

#painel-left {
  width: 100%;
  z-index: 2;
}
#painel-left li {
  padding: 10px;
  text-align: left;
  padding-left: 40px;
  transition: background-color 0.8s;
  background-size: 0% 100%;
  background-color: transparet;
}
#painel-left li:hover {
  background-color: #273469;
  border-left: none;
}
#painel-left li a {
  font-size: 12;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 0;
}
#painel-left h5 {
  color: #ffffff;
  text-align: left;
  padding-left: 40px;
  font-size: 13px;
  margin-top: 15px;
}
#painel-left .link-collapse:hover {
  background-color: #273469;
  border-left: 0px;
}
#painel-left .collapse li {
  border-left: 20px solid #FAFAFF;
  padding: 10px;
  text-align: left;
  padding-left: 40px;
  transition: background-color 0.8s;
  background-size: 0% 100%;
  background-color: #273469;
}
#painel-left .collapse li:hover {
  background-color: #30343F;
  border-left: 20px solid #FAFAFF;
}
#painel-left .collapse li a {
  padding: 10px;
}
#painel-left .side-bar {
  margin-left: 150px;
  background: #1e2749;
  transition: 0.7s;
  position: fixed;
  height: 100%;
  width: 240px;
}
#painel-left .side-bar .logo {
  width: 100px;
  padding-left: 0px;
  margin: 20px auto;
}
#painel-left .side-bar .logo img {
  width: 100%;
}
#painel-left .side-bar-responsivo {
  background: #1e2749;
  transition: 0.7s;
  position: fixed;
  height: 100%;
  width: 180px;
}
#painel-left .side-bar-responsivo .link-collapse span,
#painel-left .side-bar-responsivo .fa-angle-down {
  display: none;
}
#painel-left .side-bar-responsivo .navbar-brand {
  margin-left: 50px;
}
#painel-left .side-bar-responsivo li {
  padding: 10px;
  text-align: center;
  padding-left: 70px;
  transition: background-color 0.8s;
  background-size: 0% 100%;
  background-color: transparet;
}
#painel-left .side-bar-responsivo li:hover {
  background-color: #1e2749;
  border-left: none;
}
#painel-left .side-bar-responsivo h5 {
  display: none;
}
#painel-left .side-bar-responsivo .logo {
  width: 100px;
  padding-left: 60px;
  margin: 20px auto;
}
#painel-left .side-bar-responsivo .logo img {
  width: 100%;
}
#painel-left .side-bar-responsivo .link-collapse a {
  font-size: 15;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 10px;
}
#painel-left .side-bar-responsivo .collapse a {
  font-size: 10px;
}
#painel-left .side-bar-responsivo .collapse li {
  border-left: 0px;
}

@media screen and (min-width: 0px) and (max-width: 578px) {
  #pagina .linha-pagina {
    margin-top: 30px;
  }
  #pagina #matricula .assistente-etapas p {
    font-size: 10px;
  }
  #pagina #home .card {
    margin-top: 20px;
  }
  #pagina th, #pagina td {
    font-size: 12px;
  }

  .side-painel {
    display: none;
  }

  #painel-left .sider-bar-responsivo {
    display: none;
  }

  #navbar-top {
    display: none;
  }
}
@media screen and (min-width: 579px) and (max-width: 778px) {
  #painel-left .sider-bar-responsivo {
    width: 26%;
  }
  #painel-left .sider-bar-responsivo li {
    padding: 10px;
    padding-left: 45%;
  }
  #painel-left .sider-bar-responsivo .logo {
    padding-left: 40%;
    width: 100px;
  }
}
@media screen and (min-width: 778px) and (max-width: 992px) {
  .sider-bar-responsivo {
    border: 2px solid red;
  }
}
#pagina .container-pai {
  margin-top: 80px;
}
#pagina .justify-content-end [aria-expanded=true] .items-icon {
  background: #273469;
  color: white;
}
#pagina .lista-grupo {
  background-color: #273469;
}
#pagina .lista-grupo::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#pagina .lista-grupo a.active {
  background: #ffffff;
  color: #1e2749;
}
#pagina .lista-grupo .list-group-item {
  margin-bottom: 8px;
  border: 0px;
  font-weight: bold;
  font-size: 13.5px;
  color: white;
  border-radius: 10px;
  background-color: transparent;
}
#pagina .lista-grupo .list-group-item:hover {
  background: #ffffff;
  color: #1e2749;
}
#pagina .assistente-etapas {
  display: table-cell;
  text-align: center;
  position: relative;
  z-index: 1000;
}
#pagina .assistente-etapas p {
  margin-top: 10px;
  z-index: 1000;
  font-size: 2.3vh;
  font-weight: 500;
  color: #1e2749;
}
#pagina .assistente-etapas .btn-primary {
  background-color: #1e2749;
}
#pagina .linha-conexao {
  height: 2px;
  background: #e5e5e5;
  margin: auto;
  position: absolute;
  width: 70%;
  left: 0;
  right: 0;
  top: 15%;
  z-index: 1;
  background-image: linear-gradient(to left, #e5e5e5 50%, #e5e5e5 50%);
}
#pagina .assistente-etapas-row {
  display: table-row;
}
#pagina .assistente-etapas-sessao {
  display: table;
  width: 100%;
  position: relative;
}
#pagina div > .collapsed {
  color: black;
}
#pagina :disabled {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
#pagina .icon-unidade-nao-cadastrada {
  color: #BDC3C7;
}
#pagina .icon-unidade-cadastrada {
  color: green;
}
#pagina .border-img-red {
  border: 3px solid #D35400;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
#pagina .border-img-green {
  border: 3px solid #2ECC71;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
#pagina .border-img-blue {
  border: 3px solid #325EDE;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
#pagina .border-img-golden {
  border: 3px solid #d4af37;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
#pagina .container-accordion {
  height: 520px;
  width: 890px;
}
#pagina .container-accordion::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#aluno-lista #heading-busca-avancada .btn:focus {
  outline: none;
  box-shadow: none;
}

#funcionario-cadastro .linha-conexao {
  height: 2px;
  background: #e5e5e5;
  margin: auto;
  position: absolute;
  width: 51%;
  left: 0;
  right: 0;
  top: 15%;
  z-index: 1;
  margin-left: 21%;
}

#gestao-turmas img {
  width: 50px;
}
#gestao-turmas .modal table td {
  line-height: 50px;
}
#gestao-turmas table td {
  justify-content: center;
  line-height: 35px;
}
#gestao-turmas table .nota-vermelha {
  background-color: #D35400;
  font-weight: 500;
  color: white;
}
#gestao-turmas table .nota-verde {
  background-color: #2ECC71;
  font-weight: 500;
  color: white;
}
#gestao-turmas table .nota-azul {
  background-color: #325EDE;
  font-weight: 500;
  color: white;
}
#gestao-turmas table .nota-dourada {
  background: #d4af37;
  font-weight: 500;
  color: white;
}

/*# sourceMappingURL=stylesheet.css.map */
