* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #09023B;
  transition: 0.6s;
}

html > body {
  background-color: #E3ECF5;
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

h5 {
  color: #09023B;
  font-family: Bold;
}

label {
  font-size: 15px;
  font-weight: bold;
  color: #283339;
}

input,
select {
  border-radius: 10px;
}

table th {
  color: #09023B;
}
table td {
  line-height: 30px;
  color: #283339;
  font-size: 14px;
  font-weight: 500;
}
table img {
  border-radius: 50%;
  width: 30px;
}
table tr {
  text-align: center;
  cursor: pointer;
}

button {
  outline: none;
}

#pagina input:disabled,
#pagina select:disabled {
  border: none;
  background-color: #ffffff;
}

@font-face {
  font-family: Extra-light;
  src: url(../../../assets/fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: Regular;
  src: url(../../../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Medio;
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Semi-bold;
  src: url(../../../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Bold;
  src: url(../../../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Extra-bold;
  src: url(../../../assets/fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: Supreme-bold;
  src: url(./../../assets/fonts/Montserrat-Black.ttf);
}
#pagina .round-button {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 7px;
  font-size: 12px;
  border-radius: 15px;
  background-color: #007BFF;
  z-index: 2;
  color: #ffffff;
}

#pagina .card {
  padding: 15;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  transition: 0.5s;
}
#pagina .card .card-title {
  font-size: 15px;
}
#pagina .card .card-value {
  font-size: 25px;
}
#pagina .card .card-body {
  padding: 15px;
}
#pagina .card-form {
  padding: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #506177;
}
#pagina .card-form label {
  color: white;
}

#navbar-top {
  background-color: #ffffff;
  transition: 0.7s;
  z-index: 1;
}
#navbar-top .navbar-brand {
  font-weight: bold;
}
#navbar-top .fa-bars {
  color: #283339;
}
#navbar-top a.bars-xs {
  display: none;
}
#navbar-top .foto-usuario {
  width: 35px;
}
#navbar-top .foto-usuario img {
  width: 100%;
  border-radius: 50%;
}
#navbar-top #navbarDropdown {
  color: #506177;
  font-size: 14px;
  font-weight: 500;
}

#pagina #matriculaModal {
  margin-top: 40px;
}
#pagina #matriculaModal .modal-content {
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
}
#pagina #matriculaModal .modal-header {
  font-weight: bold;
}
#pagina #matriculaModal .modal-text {
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
}
#pagina #matriculaModal .modal-aluno-matricular-sucesso .fa-check-circle {
  margin-top: 30px;
  font-size: 100px;
  color: #28A745;
  justify-content: space-around;
}
#pagina #matriculaModal .modal-aluno-matricular-erro .fa-times-circle {
  margin-top: 30px;
  font-size: 100px;
  color: #DC3545;
  justify-content: space-around;
}
#pagina .modal-perfil {
  z-index: 1300;
}
#pagina .modal-perfil .modal-content {
  margin-left: -415px;
  width: 1350px;
  margin-top: -30px;
  height: 630px;
  background-color: #283339;
}
#pagina .modal-perfil .modal-body > .row:nth-child(1) {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #F4F6F6;
  margin-top: -10px;
}
#pagina .modal-perfil h5 {
  font-size: 17px;
}
#pagina .modal-perfil a {
  text-decoration: none;
}
#pagina .modal-perfil .fa-edit,
#pagina .modal-perfil .fa-check {
  color: #506177;
}
#pagina .modal-perfil img {
  border-radius: 50%;
}
#pagina .modal-perfil .close:focus {
  outline: none;
  box-shadow: none;
}
#pagina .modal-perfil .controle-opcoes {
  border-radius: 10px;
  border: 0;
  background: #506177;
}
#pagina .modal-perfil .controle-opcoes .list-group {
  margin-top: 20px;
}
#pagina .modal-perfil .controle-opcoes .list-group-item {
  border: none;
  background: transparent;
  font-weight: bold;
  margin-bottom: 5px;
}
#pagina .modal-perfil .controle-opcoes .list-group-item:hover {
  background: #ffffff;
  border-radius: 10px;
  color: #273469;
}
#pagina .modal-perfil .controle-opcoes .list-group-item:hover a {
  color: #273469;
  font-weight: bold;
}
#pagina .modal-perfil .controle-opcoes [aria-expanded=true] {
  background: #ffffff;
  border-radius: 10px;
  color: #273469;
}
#pagina .modal-perfil .controle-opcoes [aria-expanded=true] a {
  color: #273469;
  font-weight: bold;
}
#pagina .modal-perfil .controle-opcoes [aria-expanded=false] {
  background: transparent;
  border-radius: 10px;
  color: #ffffff;
}
#pagina .modal-perfil .controle-opcoes [aria-expanded=false] a {
  color: #ffffff;
  font-weight: bold;
}
#pagina .modal-perfil .option-list {
  display: flex;
  justify-content: flex-end;
}
#pagina .modal-perfil .horizontal-control-list {
  display: none;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-dados b {
  color: #506177;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-dados .input-group-prepend span {
  font-weight: bold;
  color: #09023B;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-dados .input-group-text {
  background-color: transparent;
  border: none;
  font-weight: bold;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-dados .input-group {
  padding-left: 0;
  margin-bottom: 13px;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-dados input:disabled {
  background-color: transparent;
  font-weight: bold;
  border: none;
  padding-left: 0px;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-dados img {
  display: flex;
  justify-content: center;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-boletim {
  text-transform: uppercase;
  font-size: 13px;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-boletim h5 {
  text-transform: initial;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-boletim .th-rowspan-2 div {
  margin-top: -50px;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-boletim table {
  width: 1200px;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-boletim b {
  font-weight: 700;
}
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-boletim td,
#pagina .modal-perfil #collapse-perfil-aluno-opcoes-boletim th {
  font-size: 13px;
}
#pagina #disciplinaModal .modal-content {
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
}

#pagina .was-validated .form-control {
  border: 2px solid #e4d9ff;
}
#pagina .was-validated .form-control {
  border: 2px solid #F2DCD6;
}

#pagina .edit-data-icon {
  cursor: pointer;
  color: #283339;
  font-size: 15px;
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #e5e5e5;
}
#pagina .edit-data-icon:hover {
  color: #ffffff;
  background-color: #007BFF;
}
#pagina .edit-data-icon:hover .fa-edit, #pagina .edit-data-icon:hover .fa-print, #pagina .edit-data-icon:hover .fa-check, #pagina .edit-data-icon:hover .fa-ban, #pagina .edit-data-icon:hover .fa-boxes, #pagina .edit-data-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .update-data-icon {
  cursor: pointer;
  color: #283339;
  font-size: 15px;
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #e5e5e5;
}
#pagina .update-data-icon:hover {
  color: #ffffff;
  background-color: #28A745;
}
#pagina .update-data-icon:hover .fa-edit, #pagina .update-data-icon:hover .fa-print, #pagina .update-data-icon:hover .fa-check, #pagina .update-data-icon:hover .fa-ban, #pagina .update-data-icon:hover .fa-boxes, #pagina .update-data-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .delete-data-icon {
  cursor: pointer;
  color: #283339;
  font-size: 15px;
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #e5e5e5;
}
#pagina .delete-data-icon:hover {
  color: #ffffff;
  background-color: #DC3545;
}
#pagina .delete-data-icon:hover .fa-edit, #pagina .delete-data-icon:hover .fa-print, #pagina .delete-data-icon:hover .fa-check, #pagina .delete-data-icon:hover .fa-ban, #pagina .delete-data-icon:hover .fa-boxes, #pagina .delete-data-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .printer-icon {
  cursor: pointer;
  color: #506177;
  font-size: 15px;
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #e5e5e5;
}
#pagina .printer-icon:hover {
  color: #ffffff;
  background-color: #007BFF;
}
#pagina .printer-icon:hover .fa-edit, #pagina .printer-icon:hover .fa-print, #pagina .printer-icon:hover .fa-check, #pagina .printer-icon:hover .fa-ban, #pagina .printer-icon:hover .fa-boxes, #pagina .printer-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .items-icon {
  cursor: pointer;
  color: #506177;
  font-size: 15px;
  padding: 10;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}
#pagina .items-icon:hover {
  color: #ffffff;
  background-color: #28A745;
}
#pagina .items-icon:hover .fa-edit, #pagina .items-icon:hover .fa-print, #pagina .items-icon:hover .fa-check, #pagina .items-icon:hover .fa-ban, #pagina .items-icon:hover .fa-boxes, #pagina .items-icon:hover .fa-plus-circle {
  color: #ffffff;
}
#pagina .unregistered-unit-icon {
  color: #BDC3C7;
}
#pagina .registered-unit-icon {
  color: green;
}

#painel-left {
  transition: 1s width;
  width: 100%;
  z-index: 2;
}
#painel-left li {
  padding: 10px;
  text-align: left;
  padding-left: 40px;
  transition: background-color 0.8s;
  background-size: 0% 100%;
  background-color: transparet;
}
#painel-left li:hover {
  background-color: #273469;
  border-left: none;
}
#painel-left li a {
  font-size: 12;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 0;
}
#painel-left .link-return {
  display: none;
}
#painel-left h5 {
  color: #ffffff;
  text-align: left;
  padding-left: 40px;
  font-size: 13px;
  margin-top: 15px;
}
#painel-left .link-collapse:hover {
  background-color: #273469;
  border-left: 0px;
}
#painel-left .collapse li {
  border-left: 20px solid #FAFAFF;
  padding: 10px;
  text-align: left;
  padding-left: 40px;
  transition: background-color 0.8s;
  background-size: 0% 100%;
  background-color: #273469;
}
#painel-left .collapse li:hover {
  background-color: #283339;
  border-left: 20px solid #e4d9ff;
}
#painel-left .collapse li a {
  padding: 10px;
}
#painel-left .side-bar {
  margin-left: 150px;
  background: #09023B;
  transition: 0.7s;
  position: fixed;
  height: 100%;
  width: 240px;
}
#painel-left .side-bar .logo {
  width: 100px;
  padding-left: 0px;
  margin: 20px auto;
}
#painel-left .side-bar .logo img {
  width: 100%;
}
#painel-left .side-bar-responsivo {
  background: #09023B;
  transition: 0.7s;
  position: fixed;
  height: 100%;
  width: 180px;
}
#painel-left .side-bar-responsivo .link-collapse span,
#painel-left .side-bar-responsivo .fa-angle-down {
  display: none;
}
#painel-left .side-bar-responsivo .navbar-brand {
  margin-left: 50px;
}
#painel-left .side-bar-responsivo li {
  padding: 10px;
  text-align: center;
  padding-left: 70px;
  transition: background-color 0.8s;
  background-size: 0% 100%;
  background-color: transparet;
}
#painel-left .side-bar-responsivo li:hover {
  background-color: #09023B;
  border-left: none;
}
#painel-left .side-bar-responsivo h5 {
  display: none;
}
#painel-left .side-bar-responsivo .logo {
  width: 100px;
  padding-left: 60px;
  margin: 20px auto;
}
#painel-left .side-bar-responsivo .logo img {
  width: 100%;
}
#painel-left .side-bar-responsivo .link-collapse a {
  font-size: 15;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 10px;
}
#painel-left .side-bar-responsivo .collapse a {
  font-size: 10px;
}
#painel-left .side-bar-responsivo .collapse li {
  border-left: 0px;
}

#pagina .main-container {
  margin-top: 80px;
}
#pagina .collapse-option [aria-expanded=true] .items-icon {
  background: #28A745;
  color: #ffffff;
}
#pagina .lista-grupo {
  background-color: #273469;
}
#pagina .lista-grupo::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#pagina .lista-grupo a.active {
  background: #ffffff;
  color: #09023B;
}
#pagina .lista-grupo .list-group-item {
  margin-bottom: 8px;
  border: 0px;
  font-weight: bold;
  font-size: 13.5px;
  color: #ffffff;
  border-radius: 10px;
  background-color: transparent;
}
#pagina .lista-grupo .list-group-item:hover {
  background: #ffffff;
  color: #09023B;
}
#pagina .registration-session-in-stages {
  display: table;
  width: 100%;
  position: relative;
}
#pagina .registration-in-stages {
  display: table-cell;
  text-align: center;
  position: relative;
  z-index: 1000;
}
#pagina .registration-in-stages p {
  margin-top: 10px;
  z-index: 1000;
  font-size: 2.3vh;
  font-weight: 500;
  color: #09023B;
}
#pagina .registration-by-content-step {
  display: table-row;
}
#pagina .registration-connection-line-in-stages {
  height: 2px;
  background: #e5e5e5;
  margin: auto;
  position: absolute;
  width: 70%;
  left: 0;
  right: 0;
  top: 15%;
  z-index: 1;
  background-image: linear-gradient(to left, #e5e5e5 50%, #e5e5e5 50%);
}
#pagina .registration-in-stages a.collapsed {
  color: #283339;
  background-color: #e4d9ff;
}
#pagina .border-img-red {
  border: 5px solid #DC3545;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
#pagina .border-img-green {
  border: 5px solid #28A745;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
#pagina .border-img-blue {
  border: 5px solid #007BFF;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
#pagina .border-img-golden {
  border: 5px solid #d4af37;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
#pagina .container-accordion {
  height: 520px;
  width: 890px;
}
#pagina .container-accordion::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#pagina .collapse-option {
  display: flex;
  justify-content: flex-end;
}

#aluno-lista #heading-busca-avancada .btn:focus {
  outline: none;
  box-shadow: none;
}

#employee-registration .registration-connection-line-in-stages {
  height: 2px;
  background: #e5e5e5;
  margin: auto;
  position: absolute;
  width: 51%;
  left: 0;
  right: 0;
  top: 15%;
  z-index: 1;
  margin-left: 21%;
}

#gestao-turmas img {
  width: 50px;
}
#gestao-turmas .modal table td {
  line-height: 50px;
}
#gestao-turmas table td {
  justify-content: center;
  line-height: 35px;
}
#gestao-turmas table .nota-vermelha {
  background-color: #DC3545;
  font-weight: 500;
  color: white;
}
#gestao-turmas table .nota-verde {
  background-color: #28A745;
  font-weight: 500;
  color: white;
}
#gestao-turmas table .nota-azul {
  background-color: #007BFF;
  font-weight: 500;
  color: white;
}
#gestao-turmas table .nota-dourada {
  background-color: #d4af37;
  font-weight: 500;
  color: white;
}

#course-management input:disabled {
  background: #F4F6F6;
}

@media (max-width: 576px) {
  body {
    font-size: 2vh;
    width: 100%;
  }
  body #painel-left {
    z-index: 120000000;
  }
  body .panel-side {
    display: none;
  }
  body .panel-side-xs {
    display: block;
  }
  body .panel-side-xs #painel-left > .side-bar {
    width: 50%;
    margin-left: -50vw;
  }
  body .panel-side-xs #painel-left > .side-bar li:nth-child(2) {
    display: block;
  }
  body .panel-side-xs #painel-left > .side-bar .bars-xs {
    color: #ffffff;
  }
  body .panel-side-xs #painel-left > .side-bar img {
    width: 80%;
  }
  body .panel-side-xs #painel-left > .side-bar .fa-angle-down {
    display: none;
  }
  body .panel-side-xs #painel-left > .side-bar h5 {
    font-size: 2vw;
  }
  body .panel-side-xs #painel-left > .side-bar li,
body .panel-side-xs #painel-left > .side-bar h5 {
    margin-left: -5vw;
  }
  body .panel-side-xs #painel-left > .side-bar .link-collapse a,
body .panel-side-xs #painel-left > .side-bar .collapse li a {
    font-size: 2.5vw;
  }
  body .panel-side-xs #painel-left > .side-bar .collapse li {
    border-left: 5px solid #ffffff;
  }

  #navbar-top .navbar-toggler .fa-bars {
    font-size: 20px;
  }
  #navbar-top #bars {
    display: none;
  }
  #navbar-top a.bars-xs {
    display: block;
  }
  #navbar-top .navbar-toggler {
    display: none;
  }
  #navbar-top .navbar-nav {
    display: none;
  }

  #pagina table {
    width: 700px;
  }
  #pagina .collapse-option {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  #pagina .collapse-option span {
    font-size: 3vw;
    padding: 10px;
  }
  #pagina h5 {
    font-size: 5vw;
  }
  #pagina .container-pai {
    margin-top: 80px;
  }
  #pagina .assistente-etapas-sessao .assistente-etapas p {
    font-size: 2.5vw;
  }
  #pagina .modal-perfil .collapse-option .fa-user-friends,
#pagina .modal-perfil .collapse-option .fa-chalkboard-teacher,
#pagina .modal-perfil .collapse-option .fa-boxes,
#pagina .modal-perfil .collapse-option .fa-plus-circle {
    display: none;
  }
  #pagina .modal-perfil h5 {
    font-size: 4vw;
  }
  #pagina .modal-perfil .input-group-text,
#pagina .modal-perfil input {
    font-size: 3vw;
  }
  #pagina .modal-perfil .horizontal-control-list {
    background-color: #e5e5e5;
    margin: 10px;
    display: flex;
  }
  #pagina .modal-perfil .horizontal-control-list .list-group-item {
    border: 0px;
    padding: 10px;
  }
  #pagina .modal-perfil .horizontal-control-list a {
    font-size: 2vw;
  }
  #pagina .modal-perfil .horizontal-control-list [aria-expanded=true] {
    background: #007BFF;
    border-radius: 5px;
    color: #ffffff;
  }
  #pagina .modal-perfil .horizontal-control-list [aria-expanded=true] a {
    color: #ffffff;
    font-weight: bold;
  }
  #pagina .modal-perfil .horizontal-control-list [aria-expanded=false] {
    background: #e5e5e5;
    border-radius: 5px;
    color: #283339;
  }
  #pagina .modal-perfil .horizontal-control-list [aria-expanded=false] a {
    color: #283339;
    font-weight: bold;
  }
  #pagina .modal-perfil .container-accordion {
    overflow: auto;
    height: 520px;
    width: 80vw;
    margin: auto;
  }
  #pagina .modal-perfil .modal-content {
    width: 97%;
    margin: auto;
    margin-top: 10px;
    height: 100%;
    overflow: auto;
  }
  #pagina .modal-perfil .modal-content #collapse-alunos table,
#pagina .modal-perfil .modal-content #collapse-professores table,
#pagina .modal-perfil .modal-content #collapse-disciplinas table {
    width: 500px;
  }
  #pagina .modal-perfil .modal-content #collapse-alunos table img,
#pagina .modal-perfil .modal-content #collapse-professores table img,
#pagina .modal-perfil .modal-content #collapse-disciplinas table img {
    width: 35px;
  }
  #pagina .modal-perfil .modal-content #collapse-alunos table th,
#pagina .modal-perfil .modal-content #collapse-alunos table td,
#pagina .modal-perfil .modal-content #collapse-professores table th,
#pagina .modal-perfil .modal-content #collapse-professores table td,
#pagina .modal-perfil .modal-content #collapse-disciplinas table th,
#pagina .modal-perfil .modal-content #collapse-disciplinas table td {
    line-height: 35px;
    font-size: 2.5vw;
  }
  #pagina .modal-perfil .modal-content #collapse-perfil-aluno-opcoes-dados img {
    margin: auto;
  }
  #pagina .modal-perfil .modal-content #collapse-perfil-aluno-opcoes-dados .card {
    font-size: 3vw;
  }
  #pagina .modal-perfil .modal-content #collapse-perfil-aluno-opcoes-nota table {
    width: 500px;
  }
  #pagina .modal-perfil .modal-content #collapse-perfil-aluno-opcoes-nota table td,
#pagina .modal-perfil .modal-content #collapse-perfil-aluno-opcoes-nota table th {
    font-size: 2.5vw;
  }
  #pagina .modal-perfil .modal-content #collapse-perfil-aluno-opcoes-nota .collapse-option {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pagina .modal-perfil .modal-content #collapse-perfil-aluno-opcoes-nota .collapse-option span {
    padding: 10px;
  }
  #pagina .modal-perfil .modal-content .controle-opcoes {
    display: none;
  }
  #pagina .modal-perfil .modal-content .option-list {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px 15px 0px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
