#class {

    img {
        width: 50px;
    }

    .modal {
        table {
            td {
                line-height: 50px;
            }
        }
    }


    table {

        td {
            justify-content: center;
            line-height: 35px;
        }

    }


}