#class {

    img {
        width: 50px;
    }

    .modal {
        table {
            td {
                line-height: 50px;
            }
        }
    }


    table {

        td {
            justify-content: center;
            line-height: 35px;
        }

        .nota-vermelha {
            @include note-state($color-red);
        }

        .nota-verde {
            @include note-state($color-green);
        }

        .nota-azul {
            @include note-state($color-blue);
        }

        .nota-dourada {
            @include note-state($color-golden);
        }
    }


}