#studentPortal {
    textarea:disabled {
        background: white;
        border-radius: 10px;
        font-weight: 500;
        font-size: 14px;
    }

    [containerBulletin] {
        h5 {
            margin-top: 30px;
        }
    }

    #pagina {
        background-color: #f9f8f8 !important;
    }
}


#admin,
#teacherPortal,
#studentPortal {

    #pagina {

        #profileClassModal {

            #note-table-class {
                width: 800px;

                td,
                th {
                    text-align: left;
                    font-size: 12px;
                }
            }
        }

        #note-table {

            td,
            th {
                text-align: left;
            }
        }

        .text-description {
            font-family: Semi-bold;
            font-size: 13px;
        }


        nav#studentPortalNavbar {
            border-bottom: 1px solid #e5e5e5;
            color: #8B8E90;
            background-color: white;
            font-family: Bold;
            font-size: 13px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                object-position: top;
                object-fit: cover;
                cursor: pointer;
            }

            .fa-th {
                color: #8B8E90;
                font-size: 25px;
                margin-right: 30px;
            }

            a {
                color: #8B8E90;
                padding: 5px 25px;
            }

            .navbar-brand {
                font-family: Bold;
                font-size: 14px;
            }

            [aria-expanded="true"] {
                color: $color-blue;
                border-bottom: 2px solid $color-blue;
            }
        }

        #profileStudentModal {

            #table-bulletin {
                font-size: 13px;
                width: 1000px;
                font-family: Bold;

                th {
                    color: black;
                }
            }
        }

        .main-container {
            margin-top: 80px;
        }

        #mural {

            h5 {
                font-size: 16px;
            }

            .main-content {
                margin-bottom: 50px;
                overflow: hidden;
                border-radius: 10px;
            }

            .side-exams,.side-mural{
                
                &::-webkit-scrollbar {
                    width: 10px;
                }
                 
                &::-webkit-scrollbar-track {
                    background-color: #ebebeb;
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                    background: #6d6d6d; 
                }
            }

            .side-exams {
                height: 78vh;
                width: 400px;
                font-family: Bold;
                font-size: 11px;
                background-color: transparent;
                border-radius: 10px;
                overflow-y: auto;
                overflow-x: hidden;           

                .miniature-photo {
                    width: 30px;
                    height: 30px;
                    border: 2px solid white;
                }           

                .exam-description {
                    margin-top: 12px;
                }

                .exam-description-footer {
                    margin-top: 10px;
                    color: $color-black;
                }

                .name-teacher {
                    font-size: 13px;
                    color: $color-dark-gray;
                }


            }

            .side-mural {
                overflow-y: scroll;
                height: 78vh;
                border-radius: 10px;
                margin-bottom: 20px;
            }
        }

        .miniature-photo {
            width: 40px;
            height: 40px;
            object-position: top;
            object-fit: cover;
            border: none;
            border-radius: 50%;
        }

        #navbarBottom {
            display: none;
        }

        .school-term-active {
            border-left: 8px solid $color-green;
        }

        .school-term-finished {
            border-left: 8px solid $color-smooth-gray;
        }

        .school-term-scheduled {
            border-left: 8px solid $color-blue;
        }

        .option-icon-group {
            span {
                transition: 0.5s;
            }
        }

        .registration-in-stages {

            label {
                text-align: left;
                display: block;
            }

            form [data-toggle="collapse"] {
                background-color: $color-blue;

                .fa-angle-right {
                    margin-left: 10px;
                }
            }

            .connection-line {
                position: absolute;
                left: 0;
                right: 0;
                top: 6vh;
                height: 3px;
                margin: auto;
                width: 75%;
                background-color: $color-extra-light-blue;
            }

            .registration-header-by-step .row {
                display: flex;
                justify-content: space-around;

                .container-option {

                    z-index: 2;

                    >.collapsed {
                        background-color: $color-extra-light-blue;
                        color: $color-black;
                    }

                    a {
                        color: white;
                        width: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35px;
                        margin: auto;
                        background-color: $color-blue;
                        border-radius: 50%;

                        span {
                            text-align: center;
                            font-weight: 500;
                        }
                    }

                    p {
                        display: block;
                        color: $color-black;
                        font-weight: 500;
                        margin-top: 5px;
                        font-size: 13px;
                    }


                }
            }
        }

        #teacher-registration {

            .connection-line {
                width: 68%;
            }

        }


        // Accordion container ( Recipiente do acordeão) 


        .accordion-container {

            height: 87vh;

            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }
        }


        #tableListExam {
            font-size: 15px;

            td,
            th {
                margin: 3px;
                text-align: left;
            }
        }



        #seekNoteExam a {
            border: 1px solid $color-smooth-gray;
        }


        // Collapse options container ( Recipiente das opções de colapso )


        .collapse-options-container {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 15px;

            span {
                @include icon-card(none, $color-blue, $color-white, 5px);
                padding-left: 20px;
                padding-right: 20px;
                font-size: 15px;
                border: 1px solid $color-smooth-gray;
                color: $color-dark-gray;
            }
        }

        .collapse-options-container {

            [aria-expanded="true"] {

                span {
                    background: #363C90;
                    color: $color-white;
                    border: none;
                }
            }

        }


        // All edges of images ( Todas as bordas das imagens )


        .horizontal-control-list {

            background-color: $color-smooth-gray;
            margin: 10px;
            display: none;

            .list-group-item {
                border: 0px;
                padding: 10px;
            }

            a {
                font-size: 2vw;
            }

            @include aria-expanded-false-and-true($color-blue, $color-white, $color-smooth-gray, $color-black, 5px);

        }


        .gif-loading {

            img {
                width: 20%;
            }
        }

        #toastContainer {
            position: fixed;
            right: 15px;
            bottom: 0;
            max-width: 40vw;
        }

        .toast {
            border-radius: 15px;
            background-color: transparent !important;
            position: absolute;
            z-index: 100000000;

            .toast-header {
                border-radius: 5px;
                padding: 10px 15px;
            }
        }

        .breadcrumb {
            background-color: transparent;
            margin-top: -10px;

            .breadcrumb-item {
                font-weight: bold;
                font-size: 14px;
            }
        }

        [containerRegistrationSuccess],
        [containerRegistrationError] {
            display: none;
        }

    }
}