#login {

    .container-login {
        border-radius: 15px;
        margin-top: 40px;
        background-image: linear-gradient(to bottom, #536DFE 0, #536DFE 50%, #F4F6F6 50%);
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        height: 86.4vh;

        .sidebar-primary {
            background-color: #536DFE;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 50px;
            height: 86.4vh;

            img{
                width: 30vw;
                margin-top: 30px;
            }

            .portal{
                cursor: pointer;
                padding: 10px;
                border-radius: 5px;
                border: none;
            }

            .logo img{
                width: 8vw;
                margin: auto;
            }

            .portal-disabled{
                background-color: white;
            }

            .portal-active{
                background-color: #2ECC71;
                color: white;
            }

            .name-portal{
                font-size: 9px;
                font-family: Bold;

            }
        }

        .sidebar-secondary {
            background-color: #F4F6F6;
            border-bottom-right-radius: 15px;
            border-top-left-radius: 50px;
            border-top-right-radius: 15px;
            height: 86.4vh;

            form {
                padding: 5px;
                border: 1px solid #e5e5e5;
                background-color: white;
                border-radius: 15px;
                
                .form-control:focus {
                    border:none;
                    border-bottom: 2px solid $color-blue;
                    box-shadow: none;
                    transition: all 0.6s ease;
                }

                input {
                    border: none;
                    border-radius: 0px;
                    border-bottom: 2px solid $color-extra-light-blue;
                }

                h5 {
                    color: $color-dark-gray;
                    font-size: 20px;
                    margin-left: 20px;
                    padding: 15px;
                }

                label {
                    font-weight: bold;
                    font-size: 17px;
                }

                .form-body {
                    
                    border-radius: 25px;
                    padding: 20px 15px;

                    button {
                        background-color: $color-blue;
                        font-weight: bold;
                        color: white;
                    }

                }

            }
        }
    }

}