#login {

    .container-login {
        border-radius: 15px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        margin-top: 40px;
        background-image: linear-gradient(to bottom, #536DFE 0, #536DFE 50%, #EAEDED 50%);
        height: 86.4vh;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

        /* .down-and-up{
            animation: up-down 4s ease-in-out infinite alternate-reverse both;
        }

        .from-side-to-side{
            animation: from-side-to-side 3s ease-in-out infinite alternate-reverse both;
        } */

        @keyframes up-down {
            0% {
                transform: scale(1.0);
            }
            100% {
                transform: scale(1.1);
            }
        }

        @keyframes from-side-to-side{
            0% {
                transform: translateX(20px);
              }
              100% {
                transform: translateX(-20px);
              }
          }
        

        .sidebar-primary {
            background-color: #536DFE;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 50px;
            height: 86.4vh;

            img {
                width: 30vw;
                margin-top: 30px;
            }

            .portal {
                cursor: pointer;
                padding: 10px;
                border-radius: 5px;
                border: none;
            }

            .logo img {
                width: 8vw;
                margin: auto;
            }

            .portal-disabled {
                background-color: white;
                color: black;
            }

            .portal-active {
                background-color: #2ECC71;
                color: white;
            }

            .portal a {
                font-size: 9px;
                font-family: Bold;
            }
        }

        .sidebar-secondary {
            background-color: #EAEDED;
            border-bottom-right-radius: 15px;
            border-top-left-radius: 50px;
            border-top-right-radius: 15px;
            height: 86.4vh;

            form {
                padding: 5px;
                border: 1px solid #D0CDE1;
                background-color: white;
                border-radius: 15px;

                .form-control:focus {
                    border: none;
                    border-bottom: 2px solid $color-blue;
                    box-shadow: none;
                    transition: all 0.6s ease;
                }

                .input-group-text{
                    border: none;
                    border-radius: 0px;
                    border-bottom: 2px solid $color-blue;
                    color: $color-dark-gray;
                }

                input {
                    border: none;
                    border-radius: 0px;
                    transition: 0.9s;
                    border-bottom: 2px solid $color-extra-light-blue;

                    &:hover{
                        border-bottom: 2px solid $color-blue;
                    }
                }

                h5 {
                    color: $color-dark-gray;
                    font-size: 20px;
                    margin-left: 20px;
                    padding: 15px;
                }

                label {
                    font-weight: bold;
                    font-size: 17px;
                }

                .form-body {

                    border-radius: 25px;
                    padding: 20px 15px;

                    button {
                        background-color: #536DFE;
                        font-weight: bold;
                        color: white;
                    }

                }

            }
        }
    }

}