.nightMode {

    body#admin, body#teacherPortal {
        background-color: #050A11;

        h5,
        h4,
        h3,
        h2,
        h1,
        p {
            color: white;
        }

        #left-panel {

            #sidebar {
                background-color: #0D151D;
            }

        }

        #navbar-top {
            background-color: #0D151D;
            border-left: 2px solid #424549;

            .fa-bars,
            .nav-item,
            .fa-sign-out-alt {
                color: white;
            }
        }


        #pagina {

            form {

                label,
                .font-weight-bold {
                    color: white;
                }

                hr {
                    background-color: white;
                }

                .fa-ellipsis-h {
                    color: white;
                }

            }

            @media (max-width:576px) {

                #navbar-top{
                    border: none;
                }

                .modal-profile { 

                    #main-accordion,
                    #main-accordion-settings,
                    #main-accordion-class,
                    #main-accordion-student
                    {
                        background-color: #0D151D;

                        .modal-sidebar {
                            background-color: #0D151D;

                            .main-sheet span{
                                color: #0D151D;
                            }

                            .container-list-group {
                                nav{
                                    ul{
                                        [aria-expanded="true"] {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #navbarBottom {
                background-color: #0D151D;

                ul {
                    a {
                        color: white;
                    }

                    i.fas,
                    i.bi {
                        color: $color-white;
                    }
                }
            }

            label {
                color: white;
            }

            .table-striped>tbody>tr:nth-child(2n+1)>td,
            .table-striped>tbody>tr:nth-child(2n+1)>th {
                background-color: #2F3044;
            }

            .registration-in-stages {

                .registration-header-by-step .row {
                    .container-option {
                        p {
                            color: white;
                        }
                    }
                }

            }

            .modal-content {
                background-color: #2F3044;

                .main-content {

                    [containerListDisciplineClass] form,
                    [containerDisciplineAverageList] form {
                        border: 1px solid white;
                    }

                    .teacher-class-title {
                        color: white;
                    }

                    form {

                        .input-group-text {
                            color: white;
                            background-color: transparent;
                        }


                        input,
                        select {
                            color: #2F3044;
                        }

                    }

                    #accordion-data-student,
                    #accordion-data-teacher,
                    #accordion-data-admin {

                        form input,
                        form select {
                            color: #7F8C8D;
                            font-weight: bold;
                        }
                    }


                }
            }

            .modal-sidebar {
                background-color: #0D151D;
                border: none;

                .container-list-group {

                    nav {
                        ul {
                            a {
                                border-left: 4px solid #0D151D;
                            }
                        }
                    }

                }

                .main-sheet span {
                    color: white;
                }
            }

            table {
                tr {

                    td,
                    th {
                        color: white;
                    }
                }
            }

            .card {
                background-color: #0D151D;
                border: 1px solid #2F3044;
            }

            .table tbody tr:hover td,
            .table tbody tr:hover th {
                background-color: #3F3D56;
            }

            .collapse-options-container {
                [aria-expanded="true"] {
                    span {
                        background-color: white;
                        color: #3F3D56 !important;
                    }
                }

                span {
                    background-color: #3F3D56;
                    color: white;
                    border: none;

                    &:hover {
                        background-color: white;
                        color: #3F3D56;
                    }
                }
            }

            section#home {

                .class-and-value{
                    color: white;
                }

                hr{
                    background-color: #e5e5e5;
                }

                .card {
                    .card-title {
                        color: white;
                    }

                    .total-student-enrolled {
                        color: $color-extra-light-blue;
                    }
                }

                .recently-enrolled {
                    table {
                        td {
                            color: white;
                        }
                    }
                }

                .recent-activities {
                    .teacher-name {
                        color: white;
                    }

                    p {
                        color: #f9f8f8;
                    }

                    hr {
                        background-color: #e5e5e5;
                    }
                }

            }
        }
    }
}