#pagina {

    .main-container {
        margin-top: 80px;

    }

    .school-term-active {
        border-left: 5px solid $color-green;
    }

    .school-term-finished {
        border-left: 6px solid $color-smooth-gray;
    }

    .school-term-scheduled {
        border-left: 5px solid $color-blue;
    }

    .option-icon-group {
        span {
            transition: 0.5s;
        }
    }

    .registration-in-stages {

        label {
            text-align: left;
            display: block;
        }

        form [data-toggle="collapse"] {
            background-color: $color-blue;

            .fa-angle-right{
                margin-left: 10px;
            }
        }

        .connection-line {
            position: absolute;
            left: 0;
            right: 0;
            top: 6vh;
            height: 3px;
            margin: auto;
            width: 75%;
            background-color: $color-extra-light-blue;
        }

        .registration-header-by-step {
            display: flex;
            justify-content: space-around;

            .container-option {

                z-index: 2;

                >.collapsed {
                    background-color: $color-extra-light-blue;
                    color: $color-black;
                }

                a {
                    color: white;
                    width: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 35px;
                    margin: auto;
                    background-color: $color-blue;
                    border-radius: 50%;

                    span {
                        text-align: center;
                        font-weight: 500;
                    }
                }

                p {
                    display: block;
                    color: $color-black;
                    font-weight: 500;
                    margin-top: 5px;
                    font-size: 13px;
                }


            }
        }
    }

    #teacher-registration{

        .connection-line {
            width: 68%;
        }

    }


    // Accordion container ( Recipiente do acordeão) 


    .accordion-container {
        height: 520px;
        width: 890px;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }


    #tableListExam td {
        padding: 1.5px;
        text-align: center;
        font-size: 14px;
    }


    // Collapse options container ( Recipiente das opções de colapso )


    .collapse-options-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;

        span {
            @include icon-card(none, #6619c3, $color-white);
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid $color-smooth-gray;
            color: $color-dark-gray;
        }
    }

    .collapse-options-container {

        [aria-expanded="true"] {

            span {
                background: #6619c3;
                color: $color-white;
                border: none;
            }
        }



    }


    // All edges of images ( Todas as bordas das imagens )


    .horizontal-control-list {

        background-color: $color-smooth-gray;
        margin: 10px;
        display: none;

        .list-group-item {
            border: 0px;
            padding: 10px;
        }

        a {
            font-size: 2vw;
        }

        @include aria-expanded-false-and-true($color-blue, $color-white, $color-smooth-gray, $color-black, 5px);

    }


    .gif-loading {

        img {
            width: 20%;
        }
    }

    #toastContainer {
        position: fixed;
        right: 15px;
        bottom: 0;
        max-width: 40vw;
    }

    .toast {
        border-radius: 15px;
        background-color: transparent !important;
        position: absolute;
        z-index: 100000000;

        .toast-header {
            border-radius: 5px;
            padding: 10px 15px;
        }
    }

    .breadcrumb {
        background-color: transparent;
        margin-top: -10px;

        .breadcrumb-item {
            font-weight: bold;
            font-size: 14px;
        }
    }

}