#pagina {

    .main-container {
        margin-top: 80px;
        overflow: auto;
    }

    .school-term-active {
        border-left: 5px solid $color-green;
    }

    .school-term-finished {
        border-left: 6px solid $color-smooth-gray;
    }

    .school-term-scheduled {
        border-left: 5px solid $color-blue;
    }

    .option-icon-group {
        span {
            transition: 0.5s;
        }
    }


    // Accordion container ( Recipiente do acordeão) 


    .accordion-container {
        height: 520px;
        width: 890px;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }


    #tableListExam td {
        padding: 1.5px;
        text-align: center;
        font-size: 14px;
    }


    // Registration in stages  ( Cadastro por etapas )


    .registration-session-in-stages {
        display: table;
        width: 100%;
        position: relative;
    }

    .registration-in-stages {

        display: table-cell;
        text-align: center;
        position: relative;
        z-index: 1000;

        p {
            margin-top: 10px;
            z-index: 1000;
            font-size: 2.3vh;
            font-weight: 500;
            color: $color-dark-blue;
        }

    }

    .registration-by-content-step {
        display: table-row;
    }

    .registration-connection-line-in-stages {
        @include connection-line-in-stages(71%);
        background-image: linear-gradient(to left, $color-smooth-gray 50%, $color-smooth-gray 50%);
    }

    .registration-in-stages a.collapsed {
        color: $color-black;
        background-color: $color-extra-light-blue;
    }


    // Collapse options container ( Recipiente das opções de colapso )


    .collapse-options-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;

        span {
            @include icon-card(none, #6619c3, $color-white);
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid $color-smooth-gray;
            color: $color-dark-gray;
        }
    }

    .collapse-options-container {

        [aria-expanded="true"] {

            span {
                background: #6619c3;
                color: $color-white;
                border: none;
            }
        }



    }


    // All edges of images ( Todas as bordas das imagens )


    .horizontal-control-list {

        background-color: $color-smooth-gray;
        margin: 10px;
        display: none;

        .list-group-item {
            border: 0px;
            padding: 10px;
        }

        a {
            font-size: 2vw;
        }

        @include aria-expanded-false-and-true($color-blue, $color-white, $color-smooth-gray, $color-black, 5px);

    }


    .gif-loading {

        img {
            width: 20%;
        }
    }

    #toastContainer {
        position: fixed;
        right: 15px;
        bottom: 0;
        max-width: 40vw;
    }

    .toast {
        border-radius: 15px;
        background-color: transparent !important;
        position: absolute;
        z-index: 100000000;

        .toast-header {
            border-radius: 5px;
            padding: 10px 15px;
        }
    }

    .breadcrumb {
        background-color: transparent;
        margin-top: -10px;

        .breadcrumb-item {
            font-weight: bold;
            font-size: 14px;
        }
    }

}