@media (max-width:576px) {

    body {

        #painel-left {
            z-index: 120000000;
        }
    
        font-size: 2vh;
        width: 100%;
    
        .panel-side {
            display: none;
        }

        .panel-side-xs {

            display: block;

            #painel-left>.side-bar {

                li:nth-child(2) {
                    display: block;
                }

                width: 50%;
                margin-left: -50vw;

                .bars-xs {
                    color: $color-white;
                }

                img {
                    width: 80%;
                }

                .fa-angle-down {
                    display: none;
                }

                h5 {
                    font-size: 2vw;
                }

                li,
                h5 {
                    margin-left: -5vw;
                }

                .link-collapse a,
                .collapse li a {
                    font-size: 2.5vw;
                }

                .collapse li {
                    border-left: 5px solid $color-white;
                }
            }
        }
    }

    #navbar-top {

        .navbar-toggler .fa-bars {
            font-size: 20px;
        }

        #bars {
            display: none;
        }

        a.bars-xs {
            display: block;
        }

        .navbar-toggler {
            display: none;
        }

        .navbar-nav{
            display: none;
        }
    }


    #pagina {

        .fa-times-circle{
            margin-bottom: 10px;
        }

        table {
            width: 700px;
        }

        .collapse-option {

            margin-top: 30px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;

            span {
                font-size: 3vw;
                padding: 10px;
            }

        }

        h5 {
            font-size: 5vw;
        }

        .main-container {
            margin-top: 80px;
        }

        .registration-session-in-stages {

            .registration-in-stages p {
                font-size: 2.5vw;
            }

        }

        .collapse-options-container {
            margin-top: 20px;
            margin-bottom: 20px;

            span {
                padding: 10px;
                font-size: 2.5vw;
            }
        }

        .modal-profile {

            .collapse-option {

                .fa-user-friends,
                .fa-chalkboard-teacher,
                .fa-boxes,
                .fa-plus-circle {
                    display: none;
                }
            }

            h5 {
                font-size: 4vw;
            }

            .input-group-text,
            input {
                font-size: 3vw;
            }

            .horizontal-control-list{
                display: flex;
            }

            .accordion-container {
                overflow: auto;
                height: 520px;
                width: 85vw;
                margin: auto;
            }

            .modal-content {
                width: 100%;
                margin: auto;
                margin-top: 10px;
                height: 100%;
                overflow: auto;

           /*      #collapse-alunos,
                #collapse-professores,
                #collapse-disciplinas {

                    table {
                        width: 500px;

                        img {
                            width: 35px;
                        }

                        th,
                        td {
                            line-height: 35px;
                            font-size: 2.5vw;
                        }
                    }
                }

                #collapse-perfil-aluno-opcoes-dados {

                    img {
                        margin: auto;
                    }

                    .card {
                        font-size: 3vw;
                    }
                } */

                #student-profile-assessment {

                    table {

                        width: 500px;

                        td,
                        th, input{
                            font-size: 2.5vw;
                        }
                    }

                    

                }

                .side-collapse-options {
                    display: none;
                }

                .option-list {
                    display: flex;
                    justify-content: flex-end;
                    margin: 15px 0px 15px 0px;
                }


            }

        }

    }


}