@media (max-width:576px) {

    body#admin {

        .panel-side {
            display: none;

            #left-panel {
                #sidebar {
                    z-index: 100000000;
                    overflow: hidden;
                    width: 60vw;

                    i.fas{
                        margin-right: 15px;
                    }

                    .sidebar-header span{
                        position: absolute;
                        left: 15;
                        margin-top: 5px;
                    }
                }
            }

        }


        #pagina {

            div.option-icon-group span {
                margin-top: 15px;
            }

            .main-container {
                margin-top: 60px;
                margin-bottom: 60px;
            }

            form {
                font-size: 4vw;
            }

            .page-header {

                h5 {
                    font-size: 4vw;
                }

                .collapse-options-container span {
                    margin-bottom: 10px;
                    margin-top: 20px;
                    display: inline-block;
                    font-size: 3vw !important;
                }

            }


            #navbar-top {

                .navbar-toggler .fa-bars {
                    font-size: 20px;
                }

                #bars {
                    display: none;
                }

                a.bars-xs {
                    display: block;
                }

                .navbar-toggler {
                    display: none;
                }

                .navbar-nav {
                    display: none;
                }
            }

            section#list-students {
                table {
                    width: 800px;
                }
            }

            #navbarBottom {
                display: block;
                border-top-right-radius: 15px;
                padding: 2px;
                border-top-left-radius: 15px;
                background-color: $color-white;
                box-shadow: 0 -2px 2px -2px #333;
                display: flex;
                justify-content: center;

                ul {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    margin-top: 10px;

                    i.fas,
                    i.bi {
                        font-size: 18px;
                        color: $color-dark-gray;
                    }

                }
            }

            section#discipline {
                table {
                    width: 600px;
                }
            }

            section#class {
                table {
                    width: 600px;
                }
            }

            #main-accordion {
                background-color: white;
                padding: 10px;
                border-radius: 15px;

                .row.card {
                    box-shadow: none;
                    border: none;
                }
            }


            .modal-profile {

                overflow-y: auto;

                table {
                    width: 200px;

                    td {
                        font-size: 3vw;
                    }
                }

                img {
                    width: 25vw;
                    height: 25vw;
                    margin-bottom: 5px;
                }

                .main-sheet {
                    order: 1;
                    display: flex;
                    border-radius: 10px;
                    background-color: $color-pure-gray;
                    justify-content: center;
                    border-radius: 10px;
                    margin-bottom: 15px;

                    span {
                        font-size: 2.5vw;
                        color: $color-dark-gray;
                    }
                }

                h5 {
                    font-size: 4vw;
                }



                .container-list-group {
                    order: 2;
                    padding: 5px;
                    overflow: auto;
                    display: flex;
                    border: none;
                    border-bottom: 2px solid #e5e5e5;
                    border-radius: 0px;
                    padding-bottom: 0;

                    nav {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        width: 400px;
                        padding: 10px;
                        flex-grow: 1;
                        overflow: auto;
                        padding-bottom: 0;

                        ul {
                            display: flex;
                            justify-content: space-around;
                            flex-grow: 1;

                            a {
                                margin-bottom: 0;
                                border-bottom: 2px solid white;
                                border-radius: 0px;
                                font-size: 2.5vw;

                            }

                            [aria-expanded="true"] {
                                border-bottom: 2px solid $color-blue;
                                background-color: transparent;
                                color: $color-dark-gray;
                            }
                        }
                    }

                }

                .collapse-options-container {
                    margin-top: 20px;
                    font-size: 10px;

                    span {
                        font-size: 2vw;

                    }
                }

                .main-content {
                    margin-bottom: 20px;

                    .row:nth-child(1) {
                        margin-top: 10px;
                    }
                }

            }

        }
    }
}