@media (max-width:576px) {

    body#admin {

        .panel-side {
            display: none;
        }

        #pagina {

            div.option-icon-group span {
                margin-top: 15px;
            }

            .main-container {
                margin-top: 60px;
                margin-bottom: 60px;
            }

            form {
                font-size: 4vw;
            }

            .page-header {

                h5 {
                    font-size: 4vw;
                }

                .collapse-options-container span {
                    margin-bottom: 10px;
                    margin-top: 20px;
                    display: inline-block;
                    font-size: 3vw !important;
                }

            }


            #navbar-top {

                .navbar-toggler .fa-bars {
                    font-size: 20px;
                }

                #bars {
                    display: none;
                }

                a.bars-xs {
                    display: block;
                }

                .navbar-toggler {
                    display: none;
                }

                .navbar-nav {
                    display: none;
                }
            }

            #navbarBottom {
                display: block;
                border-top-right-radius: 15px;
                padding: 2px;
                border-top-left-radius: 15px;
                background-color: $color-white;
                box-shadow: 0 -2px 2px -2px #333;
                display: flex;
                justify-content: center;

                ul {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    margin-top: 10px;

                    i.fas,
                    i.bi {
                        font-size: 18px;
                        color: $color-blue;
                    }

                }
            }

            section#discipline {
                table {
                    width: 600px;
                }
            }

            section#class {
                table {
                    width: 600px;
                }
            }


            .modal-profile {

                overflow-y: auto;

                table td {
                    font-size: 3.5vw;
                }

                .main-sheet {
                    order: 1;
                    display: flex;
                    justify-content: center;
                    border-radius: 10px;
                    margin-bottom: 15px;

                    span {
                        font-size: 2.5vw;
                    }
                }

                h5 {
                    font-size: 4vw;
                }

                .container-list-group {
                    order: 2;
                    padding: 5px;
                    overflow: auto;
                    display: flex;

                    nav {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        width: 700px;
                        padding: 10px;
                        flex-grow: 1;
                        overflow: auto;
                        padding-bottom: 0;

                        ul {
                            display: flex;
                            justify-content: space-around;
                            flex-grow: 1;

                            a{
                                margin-bottom: 0;
                            }
                        }
                    }

                }

                .collapse-options-container {
                    margin-top: 20px;
                    font-size: 10px;

                    span {
                        font-size: 2vw;
                    
                    }
                }

                .main-content {
                    margin-top: 20px;
                }

            }

        }
    }
}