@media (max-width:992px) and (min-width:779px) {

    body {

        #painel-left {
            z-index: 1200000000;

            .side-bar {

                width: 25%;

                li {
                    font-size: 1.5vw;
                }

                .fa-angle-down {
                    display: none;
                }
            }
        }

        .side-panel {
            display: block;
        }
    }

}