@media (max-width:769px) {

    #login {

        .container-login {
            background: white;
            box-shadow: none;

            .sidebar-primary {
                display: none !important;
            }

            .sidebar-secondary {
                border-radius: 20px;

                form {
                    padding: 15px;
                }
            }
        }

    }

    body {

        #painel-left {
            z-index: 120000000;
        }

        .panel-side {
            display: none;

            #left-panel {
                #sidebar {
                    width: 30vw;

                    .sidebar-lists {

                        #minimize {
                            display: block;
                        }

                        a {
                            font-size: 1.5vw;
                        }

                        p {
                            font-size: 2vw;
                        }

                    }
                }

            }
        }



        #navbar-top {

            #bars {
                display: none;
            }

            a.bars-xs {
                display: block;
            }

            .navbar-toggler {
                display: none;
            }


        }

        #pagina {

            form {

                label {
                    font-size: 2vw;
                }

                input,
                select {
                    font-size: 1.5vw;
                }

                .btn {
                    font-size: 2vw;
                }

            }

            table {

                th {
                    font-size: 2.5vw;
                }

                td {
                    font-size: 2vw;

                    .miniature-photo{
                        width: 8vw;
                    }
                }
                  
            }

            #profileClassModal{

                .main-sheet{
                    margin-top: -3.5vw;
                }
                    
            }

            .modal-profile {

                .horizontal-control-list {
                    display: flex;
                }

                .collapse-options-container {
                    margin-top: 20px;
                }

                .side-collapse-options {
                    display: none;
                }

                .modal-sidebar{
                    .container-list-group {
                        nav a{
                            font-size: 1.2vw;
                        }
                    }
                }

                .accordion-container {
                    overflow: auto;
                    height: 520px;
                    width: 70vw;
                    margin: auto;
                }

                .main-content {

                    [data-parent="#main-accordion-class"] {
                        margin-top: -3vw;
                    }

                    [data-parent="#main-accordion-student"] {
                        margin-top: -3vw;
                        border: 2px solid red;
                    }

                    h5{
                        font-size: 2.5vw;
                    }

                    form{

                        .input-group-text{
                            font-size: 2vw;
                        }

                        select,input{
                            font-size: 1.8vw;
                        }
        
                    }
                }


                .option-list {
                    display: flex;
                    justify-content: flex-end;
                    margin: 15px 0px 15px 0px;
                }


            }
        }
    }
}