@mixin card($padding, $background, $border) {
    padding: $padding;
    border-radius: 10px;
    border: $border;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: $background;
}

@mixin icon-card($color, $background-hover, $background) {

    cursor: pointer;
    color: $color;
    border-radius: 10px;
    background: $background;
    padding: 10px;


    &:hover {
        color: $color-white;
        background-color: $background-hover;

        .fa-edit,
        .fa-print,
        .fa-check,
        .fa-ban,
        .fa-boxes,
        .fa-plus-circle {
            color: $color-white;
        }
    }
}