@mixin card($padding, $background, $border, $border-radius: 10px) {
    padding: $padding;
    border-radius: $border-radius;
    border: $border;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);  
    border: 1px solid $color-smooth-gray;
    background-color: $background;
}

@mixin icon-card($color, $background-hover, $background, $border-radius : 10px) {

    cursor: pointer;
    color: $color;
    border-radius: $border-radius;
    background: $background;
    padding: 10px;
    transition: all 0.2s ease;
    font-size: 1.0vw;

    &:hover {
        color: $color-white;
        background-color: $background-hover;

        .fa-edit,
        .fa-print,
        .fa-check,
        .fa-ban,
        .fa-boxes,
        .fa-plus-circle {
            color: $color-white;
        }
    }
}